@page "/NewsPostDetail/{NewsPostId}"

<div>
    <div style="display:block">
        <div style="margin-bottom:15px" class="text_long_url">
            <h1 class="text_green2 ">
                <span id="lblPostTitle" style="font-weight:bold;">Trường Quân sự Quân khu 7 thăm và làm việc tại Trung tâm huấn luyện Lục quân/Quân đội Hoàng gia Campuchia</span>
            </h1>
        </div>

        <div style="width:100%;display:grid;grid-template-columns:auto;margin-bottom:10px;align-items:center">
            <div class="text_dark" style="display:grid;grid-template-columns:21px auto;align-items:center">
                <div><img src="https://www.tqsqk7.edu.vn/skin/defaultskin/images/icon/clock16.png" height="16"></div>
                <div>
                    <span id="lblCreatedTime">23/08/2025</span> • <span id="lblViewCount">96</span> lượt xem
                </div>
            </div>
        </div>

        <div id="bodyDiv" style="margin-bottom:20px;text-align:justify" class="text_long_url">
            <p>  Thực hiện Kế hoạch đào tạo tiếng Khmer cho cán bộ Lực lượng vũ trang Quân khu 7 tại trường Quân sự Quân khu năm 2025 đã được Tư lệnh Quân khu phê duyệt; căn cứ thỏa ước kết nghĩa giữa hai đơn vị. Ngày 21/8/2025, Đoàn Công tác của Trường Quân sự Quân khu 7 do đồng chí Đại tá Bùi Đình Thành, Bí thư Đảng ủy, Chính uỷ Nhà trường làm trưởng đoàn đã thăm và làm việc với Ban Giám đốc Trung tâm Huấn luyện Lục quân/Quân đội Hoàng gia Campuchia.</p><p><a data-fancybox="gallery" href="https://www.tqsqk7.edu.vn/upload/15/638915258328388757.jpg"><img class="post_detail_image" src="https://www.tqsqk7.edu.vn/upload/15/638915258328388757.jpg" border="0"></a></p><p style="text-align: center"><em><span style="font-size: 8pt">Quang cảnh Hội nghị</span></em></p><p style="text-align: justify">   Trong buổi làm việc, hai bên trao đổi thống nhất về nội dung, chương trình, thời gian và những kỹ năng cần đạt được trong quá trình thực tập của học viên. Đồng chí Chính ủy Nhà trường cảm ơn sâu sắc đến Ban Giám đốc, cán bộ, giáo viên Trung tâm Huấn huyện Lục quân trong thời gian qua đã tạo điều kiện giúp đỡ, hỗ trợ học viên Nhà trường học tập thực tế tại Trung tâm và nhấn mạnh "Việc tổ chức cho học viên đào tạo tiếng Khmer thực tập tại Trung tâm không chỉ để nâng cao kiến thức, các kỹ năng, mà còn là dịp tăng cường tình cảm, sự hiểu biết, niềm tin giữa Nhân dân, Quân đội hai nước, hai đơn vị và mong muốn tiếp tục nhận được sự hỗ trợ giúp đỡ của Trung tâm, tiếp nối truyền thống đoàn kết quốc tế trong sáng, thủy chung mà các thế hệ cha anh hai dân tộc đã dày công vun đắp".</p><p><a data-fancybox="gallery" href="https://www.tqsqk7.edu.vn/upload/15/638915252265488123.jpg"><img class="post_detail_image" src="https://www.tqsqk7.edu.vn/upload/15/638915252265488123.jpg" border="0"></a></p><p style="text-align: center"><span style="font-size: 8pt"><em>Lãnh đạo hai đơn vị trao đổi thống nhất các nội dung trong Hội nghị</em></span></p><p style="text-align: justify">   Lãnh đạo Trung tâm Huấn luyện Lục quân Campuchia bày tỏ niềm vui mừng, vinh dự được đón tiếp Đoàn Công tác của Trường Quân sự Quân khu 7, sang thăm, làm việc và trao đổi về chương trình thực tập cho học viên đào tạo tiếng Kh'mer; khẳng định sẽ phối hợp chặt chẽ, tạo mọi điều kiện thuận lợi nhất để các học viên hoàn thành tốt nhiệm vụ thực tập.</p><p style="text-align: justify">   Cũng nhân dịp này, đồng chí Chính uỷ Nhà trường cùng Đoàn công tác đã viếng Đài tưởng niệm Quân tình nguyện Việt Nam tại Thủ đô Phnompenh Campuchia.</p><p><a data-fancybox="gallery" href="https://www.tqsqk7.edu.vn/upload/15/638915252450798613.jpg"><img class="post_detail_image" src="https://www.tqsqk7.edu.vn/upload/15/638915252450798613.jpg" border="0"></a></p><p style="text-align: center"><span style="font-size: 8pt"><em>Đoàn Công tác Trường Quân sự Quân khu 7 viếng Đài tưởng niệm Quân tình nguyện Việt Nam </em></span></p><p><a data-fancybox="gallery" href="https://www.tqsqk7.edu.vn/upload/15/638915252444431077.jpg"><img class="post_detail_image" src="https://www.tqsqk7.edu.vn/upload/15/638915252444431077.jpg" border="0"></a><a data-fancybox="gallery" href="https://www.tqsqk7.edu.vn/upload/15/638915252447618637.jpg"><img class="post_detail_image" src="https://www.tqsqk7.edu.vn/upload/15/638915252447618637.jpg" border="0"></a></p><p style="text-align: center"><em><span style="font-size: 8pt">Chính uỷ Nhà trường và Đoàn công tác chụp ảnh lưu niệm với Ban Giám đốc, cán bộ, giáo viên Trung tâm</span></em></p><p>   Hội nghị phối hợp hợp tác giáo dục, đào tạo giữa hai đơn vị đã thành công tốt đẹp, để lại nhiều ấn tượng sâu sắc, tiếp tục khẳng định mối quan hệ “láng giềng tốt đẹp, hữu nghị truyền thống, hợp tác toàn diện, bền vững lâu dài” giữa Việt Nam – Campuchia, góp phần xây dựng quân đội mỗi nước ngày càng chính quy, hiện đại, vì hòa bình, ổn định và phát triển của mỗi nước và khu vực./.</p><p style="text-align: right">Ban Tuyên huấn/ Phòng Chính trị</p>
        </div>

        <div style="margin-bottom:20px">
        </div>

        <div id="authorDiv" style="margin-bottom:20px;" class="">
            <i><span id="lblAuthorName"></span></i>
        </div>

        <div class="text_long_url">


            <div style="">
                <div style="height:45px;width:100%;margin-bottom:20px;position:relative;
        background-image:url(https://www.tqsqk7.edu.vn/skin/defaultskin/images/layout/section_title_bg.png);background-repeat: repeat-x;background-position: bottom center;background-size: auto 36px;">
                    <div style="margin-left:5px;margin-right:5px;padding-left:20px;padding-right:20px;height:100%;display:inline-block;z-index:1000" class="bg_red">
                        <div style="height:100%;display:flex;align-items:center;text-transform:uppercase">
                            <b class="text_yellow">CÁC TIN KHÁC</b>
                        </div>
                    </div>
                </div>


                <div style="display:grid;grid-template-columns:133px auto;grid-gap:12px;margin-bottom:20px;position:relative">

                    <div style="position:absolute;top:0;bottom:0;left:0;width:10px;z-index:1;display:none" class="bg_red left_border">
                    </div>

                    <div style="width:133px;height:86px;overflow:hidden" class="bg_black img-hover-zoom">
                        <a href="https://www.tqsqk7.edu.vn/toa-dam-khoa-hoc-cach-mang-thang-tam-hien-thuc-hoa-khat-vong-phat-trien-dat-nuoc-phon-vinh-hanh-phuc-cgck-p.html">
                            <img src="https://www.tqsqk7.edu.vn/upload/thumb/16_638920502126397681___266.jpg" id="imgThumb" style="width:100%" class="border_black">
                        </a>
                    </div>

                    <div>
                        <div class="text_2_line" style="margin-bottom:7px">
                            <a href="https://www.tqsqk7.edu.vn/toa-dam-khoa-hoc-cach-mang-thang-tam-hien-thuc-hoa-khat-vong-phat-trien-dat-nuoc-phon-vinh-hanh-phuc-cgck-p.html" class="text_body" title="Tọa đàm khoa học &quot;Cách mạng tháng Tám  - hiện thực hóa khát vọng  phát triển đất nước phồn vinh - hạnh phúc&quot;">


                                <div style="display:flex;align-items:center">


                                    <div>
                                        <b>Tọa đàm khoa học "Cách mạng tháng Tám  - hiện thực hóa khát vọng  phát triển đất nước phồn vinh - hạnh phúc"</b>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="text_2_line" style="text-align:justify;margin-bottom:7px">
                            <a href="https://www.tqsqk7.edu.vn/toa-dam-khoa-hoc-cach-mang-thang-tam-hien-thuc-hoa-khat-vong-phat-trien-dat-nuoc-phon-vinh-hanh-phuc-cgck-p.html" class="text_body" title="Tọa đàm khoa học &quot;Cách mạng tháng Tám  - hiện thực hóa khát vọng  phát triển đất nước phồn vinh - hạnh phúc&quot;">
                                Ngày 28/8/2025, Trường Quân sự Quân khu 7 tổ chức Tọa đàm khoa học với chủ đề: “Cách mạng tháng Tám - hiện thực hóa khát vọng phát triển đất nước phồn vinh - hạnh phúc”.
                                Dự và chủ trì Tọa đàm, Đoàn Chủ tịch có các đồng chí: Đại tá, ThS Lê Ngọc Dương, Đảng Ủy viên Quân khu, Hiệu trưởng Nhà trường; Đại tá, ThS Bùi Đình Thành, Bí thư Đảng ủy, Chính ủy Nhà trường; Đại tá, ThS Nguyễn Mạnh Tú, Ủy viên Ban Thường vụ, Phó Hiệu trưởng Nhà trường; Đại tá, ThS Nguyễn Tiến Sơn, Ủy viên Ban Thường vụ, Phó Chính ủy Nhà trường. Dự Tọa đàm còn có đại diện Thủ trưởng Ban Giám hiệu Nhà trường, Chỉ huy các phòng, khoa, đơn vị và hơn 150 cán bộ, giáo viên Nhà trường.
                                Đoàn Chủ tịch điều hành Tọa đàm
                                Trình bày Báo cáo đề dẫn, Đại tá, ThS Nguyễn Tiến Sơn, Phó Chính ủy Nhà trường nhấn mạnh, Cách mạng tháng Tám năm 1945 là một sự kiện trọng đại, mốc son chói lọi trong lịch sử dựng nước và giữ nước của dân tộc Việt Nam. Thành công của cuộc cách mạng vĩ đại đã khai sinh ra nước Việt Nam Dân chủ Cộng hòa - nhà nước dân chủ nhân dân đầu tiên ở Đông Nam Á - mở ra bước ngoặt lịch sử đưa nhân dân ta từ thân phận nô lệ trở thành người làm chủ đất nước, làm chủ vận mệnh của mình, đưa đất nước tiến vào kỷ nguyên mới - kỷ nguyên độc lập, tự do và chủ nghĩa xã hội. 80 năm đã trôi qua, Cách mạng tháng Tám năm 1945 vẫn giữ nguyên giá trị thời đại, đặc biệt là trên phương diện chính trị tinh thần của đất nước, con người và dân tộc Việt Nam.
                                Đại tá, ThS Nguyễn Tiến Sơn, Phó Chính ủy Nhà trường trình bày Báo cáo đề dẫn Tọa đàm
                                Ngày nay, tình hình thế giới, khu vực tiếp tục có những diễn biến phức tạp, khó lường; cạnh tranh chiến lược giữa các nước lớn, tiềm ẩn nhân tố mất ổn định; các thách thức an ninh phi truyền thống diễn ra ngày càng gay gắt, tác động trực tiếp đến an ninh toàn cầu, khu vực, trong đó có Việt Nam. Ở trong nước, mặc dù đạt được nhiều thành tựu về kinh tế - xã hội; tiềm lực mọi mặt của đất nước tiếp tục được tăng cường; uy tín, vị thế của nước ta trên trường quốc tế ngày càng được nâng cao, song cũng còn nhiều khó khăn. Bên cạnh đó, các thế lực thù địch tiếp tục đẩy mạnh hoạt động “diễn biến hòa bình”, “phi chính trị hóa” lực lượng vũ trang nhân dân, thúc đẩy “tự diễn biến”, “tự chuyển hóa” trong nội bộ. Trước tình hình đó, toàn Đảng, toàn quân và toàn dân ta đang quyết tâm, nỗ lực đưa đất nước bước vào kỷ nguyên mới - kỷ nguyên vươn mình của dân tộc Việt Nam. Vì vậy, việc tiếp tục nghiên cứu củng cố, giữ gìn và phát huy sức mạnh chính trị tinh thần của Cách mạng tháng Tám năm 1945 đối với sự nghiệp xây dựng và bảo vệ Tổ quốc trong kỷ nguyên mới là vấn đề chiến lược, có giá trị lý luận, thực tiễn sâu sắc.
                                Quang cảnh Tọa đàm
                                Ban Tổ chức đã nhận gần 150 bài tham luận của Thủ trưởng Ban Giám hiệu Nhà trường; Thủ trưởng các phòng, khoa, đơn vị và đông đảo cán bộ, giáo viên. Trong đó thẩm định, lựa chọn 35 bài tham luận chất lượng tốt đăng kỷ yếu. Các tham luận đã đề cập một cách toàn diện, phong phú, sâu sắc các vấn đề xoay quanh chủ đề Tọa đàm. Mỗi tham luận là một công trình nghiên cứu độc lập, luận giải từng vấn đề một cách cụ thể, sâu sắc … một lần nữa khẳng định, thắng lợi của Cách mạng tháng Tám không chỉ là một sự kiện chính trị đơn thuần mà là kết tinh của một quá trình đấu tranh lâu dài, gian khổ, là đỉnh cao của một cuộc cách mạng giải phóng dân tộc theo con đường cách mạng vô sản. Đó là thắng lợi của trí tuệ, bản lĩnh và nghệ thuật lãnh đạo tài tình của Đảng ta, đứng đầu là Chủ tịch Hồ Chí Minh. Nhưng sâu xa hơn, cội nguồn của thắng lợi phi thường ấy chính là sức mạnh chính trị tinh thần vô địch của toàn dân tộc.
                                Đại biểu trình bày tham luận
                                Tọa đàm được nghe 08 ý kiến phát biểu: Ôn lại những sự kiện vĩ đại nhất trong lịch sử hào hùng của dân tộc, đồng thời đi sâu thảo luận và làm rõ hơn tầm vóc, ý nghĩa lịch sử trọng đại của Cách mạng tháng Tám 1945 và Quốc khánh 2/9, khẳng định sự lãnh đạo đúng đắn, tài tình của Đảng Cộng sản Việt Nam và Chủ tịch Hồ Chí Minh. Tập trung làm rõ các nội dung chủ yếu sau đây: Thứ nhất, khẳng định tầm vóc lịch sử của Cách mạng tháng Tám. Thứ hai, phân tích tư tưởng Hồ Chí Minh về giữ vững chính quyền cách mạng trong Cách mạng tháng Tám năm 1945. Thứ ba, rút ra những bài học lịch sử và giá trị vận dụng trong giai đoạn mới.
                                Phát biểu kết luận Tọa đàm, Đại tá, ThS Bùi Đình Thành, Bí thư Đảng ủy, Chính ủy Nhà trường đánh giá cao các tham luận, đồng thời nhấn mạnh các tham luận cơ bản thống nhất và khẳng định: Tổng khởi nghĩa tháng Tám không chỉ là một cuộc cách mạng toàn dân, toàn diện, mà còn là minh chứng sinh động cho nguyên lý: Sự lãnh đạo tuyệt đối của Đảng là nhân tố quyết định; phát huy sức mạnh đại đoàn kết toàn dân tộc là cội nguồn thắng lợi; nắm bắt thời cơ, sáng tạo trong phương pháp là bí quyết thành công; mục tiêu xuyên suốt của cách mạng luôn là độc lập, tự do, hạnh phúc của nhân dân. Đồng thời cũng chỉ rõ yêu cầu cấp thiết là phải tiếp tục đổi mới công tác giáo dục chính trị tư tưởng, bồi dưỡng lý tưởng cách mạng cho thế hệ trẻ, phát huy tinh thần yêu nước, ý chí tự lực tự cường và niềm tin vào sự lãnh đạo của Đảng. Bên cạnh đó, cần chăm lo đời sống vật chất, tinh thần và chính sách hậu phương Quân đội, bởi sức mạnh chính trị tinh thần chỉ được tạo dựng, nâng cao và phát huy trong những điều kiện bảo đảm nhất định về vật chất. Có thực mới vực được đạo. Từ thực tiễn lịch sử và yêu cầu hiện nay, càng khẳng định sức mạnh chính trị tinh thần là yếu tố xuyên suốt, mang tính quyết định trong mọi thắng lợi của cách mạng Việt Nam. Đó là nền tảng tư tưởng, động lực nội sinh và niềm tin chiến lược để xây dựng đất nước phồn vinh, hạnh phúc; xây dựng Quân đội cách mạng, chính quy, tinh nhuệ.
                                Đại tá, ThS Bùi Đình Thành, Bí thư Đảng ủy, Chính ủy Nhà trường kết luận Tọa đàm
                                Thông qua Tọa đàm, chúng ta tiếp tục khẳng định và làm sâu sắc hơn nữa Cách mạng tháng Tám thành công là thắng lợi vĩ đại của cách mạng Việt Nam trong thế kỷ XX, dưới sự lãnh đạo sáng suốt, tài tình của Đảng ta và Chủ tịch Hồ Chí Minh. Là kết quả hội tụ sức mạnh ý chí chính trị và tinh thần quyết tâm của cả dân tộc Việt Nam trong thời đại Hồ Chí Minh. Đây là sự kiện có tầm vóc thời đại, có ý nghĩa quốc tế sâu sắc, là nguồn cổ vũ, động viên lớn lao đối với các dân tộc thuộc địa, nhân dân bị áp bức, bóc lột trên thế giới vùng lên đấu tranh giành độc lập dân tộc, dân chủ và tiến bộ xã hội… Bài học thành công của Cách mạng tháng Tám vẫn vẹn nguyên ý nghĩa lịch sử và giá trị hiện thực sâu sắc. Những bài học đó cần được tiếp tục nghiên cứu, vận dụng cho phù hợp với hoàn cảnh mới, thời đại mới, góp phần xây dựng từng cơ quan, đơn vị, địa phương nói chung, Trường Quân sự Quân khu 7 nói riêng ngày càng hùng mạnh, hoàn thành xuất sắc nhiệm vụ bảo vệ Tổ quốc trong điều kiện mới. Kết quả Tọa đàm góp phần tuyên truyền, giáo dục, khơi dậy và phát huy truyền thống yêu nước, lòng tự hào dân tộc cho cán bộ, giáo viên, nhân viên, học viên, HSQ-CS trong Nhà trường; vận dụng hiệu quả vào thực hiện thắng lợi các chỉ tiêu, nội dung, biện pháp, đặc biệt là ba khâu đột phá Đại hội Đảng bộ Nhà trường nhiệm kỳ 2025-2030 đã xác định, xây dựng Nhà trường vững mạnh toàn diện, “Mẫu mực tiêu biểu”, hoàn thành tốt nhiệm vụ được giao./.
                                Trung tá, ThS Vũ Thị Duyên
                                Ban KHQS/Phòng Đào tạo
                            </a>
                        </div>

                        <div>
                            <a href="https://www.tqsqk7.edu.vn/toa-dam-khoa-hoc-cach-mang-thang-tam-hien-thuc-hoa-khat-vong-phat-trien-dat-nuoc-phon-vinh-hanh-phuc-cgck-p.html">
                                <b>xem chi tiết</b>
                            </a>
                        </div>
                    </div>

                </div>

                <div style="display:grid;grid-template-columns:133px auto;grid-gap:12px;margin-bottom:20px;position:relative">

                    <div style="position:absolute;top:0;bottom:0;left:0;width:10px;z-index:1;display:none" class="bg_red left_border">
                    </div>

                    <div style="width:133px;height:86px;overflow:hidden" class="bg_black img-hover-zoom">
                        <a href="https://www.tqsqk7.edu.vn/khai-mac-lop-tap-huan-ky-nang-hoat-dong-van-hoa,-van-nghe-cho-hoc-vien-dao-tao-tieu-doi-truong,-nhan-vien-chuyen-mon-ky-thuat-khoa-61-tai-truong-quan-su-quan-khu-7-cgce-p.html">
                            <img src="https://www.tqsqk7.edu.vn/upload/thumb/15_638915859082329380___266.jpg" id="imgThumb" style="width:100%" class="border_black">
                        </a>
                    </div>

                    <div>
                        <div class="text_2_line" style="margin-bottom:7px">
                            <a href="https://www.tqsqk7.edu.vn/khai-mac-lop-tap-huan-ky-nang-hoat-dong-van-hoa,-van-nghe-cho-hoc-vien-dao-tao-tieu-doi-truong,-nhan-vien-chuyen-mon-ky-thuat-khoa-61-tai-truong-quan-su-quan-khu-7-cgce-p.html" class="text_body" title="Khai mạc Lớp tập huấn kỹ năng hoạt động văn hóa, văn nghệ cho học viên đào tạo tiểu đội trưởng, nhân viên chuyên môn kỹ thuật Khoá 61 tại Trường Quân sự Quân khu 7">


                                <div style="display:flex;align-items:center">


                                    <div>
                                        <b>Khai mạc Lớp tập huấn kỹ năng hoạt động văn hóa, văn nghệ cho học viên đào tạo tiểu đội trưởng, nhân viên chuyên môn kỹ thuật Khoá 61 tại Trường Quân sự Quân khu 7</b>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="text_2_line" style="text-align:justify;margin-bottom:7px">
                            <a href="https://www.tqsqk7.edu.vn/khai-mac-lop-tap-huan-ky-nang-hoat-dong-van-hoa,-van-nghe-cho-hoc-vien-dao-tao-tieu-doi-truong,-nhan-vien-chuyen-mon-ky-thuat-khoa-61-tai-truong-quan-su-quan-khu-7-cgce-p.html" class="text_body" title="Khai mạc Lớp tập huấn kỹ năng hoạt động văn hóa, văn nghệ cho học viên đào tạo tiểu đội trưởng, nhân viên chuyên môn kỹ thuật Khoá 61 tại Trường Quân sự Quân khu 7">
                                Sáng 23/8, Cục Chính trị Quân khu tổ chức lễ khai mạc lớp tập huấn kỹ năng hoạt động văn hóa, văn nghệ cho học viên đào tạo Tiểu đội trưởng, nhân viên chuyên môn kỹ thuật khoá 61, năm 2025 tại Trường Quân sự Quân khu 7; đây là hoạt động hằng năm của Cục Chính trị Quân khu, nhằm bồi dưỡng đội ngũ học viên Tiểu đội trưởng, nhân viên chuyên môn kỹ thuật kỹ năng hoạt động văn hoá, văn nghệ góp phần nâng cao đời sống tinh thần lành mạnh cán bộ, chiến sĩ lực lượng vũ trang Quân khu.
                                Đại tá Nguyễn Hồng Cảnh, Phó Chủ nhiệm Chính trị Quân khu phát biểu chỉ đạo lễ khai mạc.
                                Dự khai mạc có Đại tá Nguyễn Hồng Cảnh, Phó Chủ nhiệm Chính trị Quân khu; Đại tá Bùi Đình Thành, Bí thư Đảng ủy, Chính ủy Nhà trường; Đại tá Phạm Văn Kiên, Phó Hiệu trưởng Nhà trường; Trung tá QNCN Trần Thị Thanh Tâm, Phó Chủ nhiệm Nhà văn hóa Quân khu và đại diện chỉ huy các phòng, khoa, đơn vị trong Nhà trường.
                                Trung tá QNCN Trần Thị Thanh Tâm, Phó Chủ nhiệm Nhà Văn hóa Quân khu phát biểu tại lễ khai mạc.
                                Lớp tập huấn năm nay có sự tham gia của 200 đồng chí học viên đào tạo Hạ sĩ quan chỉ huy và Nhân viên chuyên môn kỹ thuật Khóa 61, được tuyển chọn từ các đơn vị, địa phương có năng khiếu văn hóa, văn nghệ để trở thành hạt nhân cho toàn Quân khu. Các học viên học viên sẽ được tập huấn về các điệu múa truyền thống Việt Nam (múa sạp) và Campuchia (Rom Vông), các vũ điệu khiêu vũ quốc tế (Chachacha, Disco), 5 vũ điệu sinh hoạt tập thể trong Quân đội Nhân dân Việt Nam, kỹ năng hoạt náo quản trò và các trò chơi dân gian, quân sự. Đặc biệt, lớp tập huấn cũng sẽ trang bị cho học viên về 15 bài hát quy định trong Quân đội Nhân dân Việt Nam. Lớp tập huấn sẽ diễn ra từ 23/8/2025 - 30/10/2025. Thời gian học được bố trí với 3 buổi mỗi tuần: Tối thứ Năm và sáng, chiều thứ Bảy.
                                Đại biểu dự lễ khai mạc.
                                Phát biểu khai mạc, Đại tá Nguyễn Hồng Cảnh, Phó Chủ nhiệm Chính trị Quân khu nhấn mạnh tầm quan trọng của hoạt động văn hóa, văn nghệ, đây là hoạt động thiết thực góp phần xây dựng tổ chức Đảng trong sạch vững mạnh, đơn vị vững mạnh toàn diện “Mẫu mực, tiêu biểu”. Đồng chí yêu cầu Nhà trường và Nhà Văn hóa Quân khu tiếp tục phối hợp chặt chẽ, tạo điều kiện tốt nhất cho lớp học, đồng thời chuẩn bị giáo án chu đáo, khoa học và quan tâm các đồng chí học viên. Đồng chí Phó Chủ nhiệm Chính trị Quân khu yêu cầu học viên phải tập trung tiếp thu và nắm chắc các kỹ năng cơ bản để khi về đơn vị tổ chức truyền đạt, huấn luyện được cho bộ đội, phát triển hoạt động văn hóa văn nghệ ở đơn vị cơ sở ngày càng sôi nổi, hiệu quả thiết thực; các đồng chí phải phát huy hết khả năng của mình, chứng tỏ được bản thân là lực lượng nòng cốt trong xây dựng phong trào văn hóa, văn nghệ tại đơn vị cơ sở.
                                Các cán bộ, chiến sĩ biểu diễn nhiều tiết mục văn nghệ sôi động tại lễ khai mạc.
                                Thanh Bình- Minh Khoa/ Phòng Chính trị
                            </a>
                        </div>

                        <div>
                            <a href="https://www.tqsqk7.edu.vn/khai-mac-lop-tap-huan-ky-nang-hoat-dong-van-hoa,-van-nghe-cho-hoc-vien-dao-tao-tieu-doi-truong,-nhan-vien-chuyen-mon-ky-thuat-khoa-61-tai-truong-quan-su-quan-khu-7-cgce-p.html">
                                <b>xem chi tiết</b>
                            </a>
                        </div>
                    </div>

                </div>

                <div style="display:grid;grid-template-columns:133px auto;grid-gap:12px;margin-bottom:20px;position:relative">

                    <div style="position:absolute;top:0;bottom:0;left:0;width:10px;z-index:1;display:none" class="bg_red left_border">
                    </div>

                    <div style="width:133px;height:86px;overflow:hidden" class="bg_black img-hover-zoom">
                        <a href="https://www.tqsqk7.edu.vn/truong-quan-su-quan-khu-7-tham-va-lam-viec-tai-trung-tam-huan-luyen-luc-quan-quan-doi-hoang-gia-campuchia-cgcc-p.html">
                            <img src="https://www.tqsqk7.edu.vn/upload/thumb/15_638915252265488123___266.jpg" id="imgThumb" style="width:100%" class="border_black">
                        </a>
                    </div>

                    <div>
                        <div class="text_2_line" style="margin-bottom:7px">
                            <a href="https://www.tqsqk7.edu.vn/truong-quan-su-quan-khu-7-tham-va-lam-viec-tai-trung-tam-huan-luyen-luc-quan-quan-doi-hoang-gia-campuchia-cgcc-p.html" class="text_body" title="Trường Quân sự Quân khu 7 thăm và làm việc tại Trung tâm huấn luyện Lục quân/Quân đội Hoàng gia Campuchia">


                                <div style="display:flex;align-items:center">


                                    <div>
                                        <b>Trường Quân sự Quân khu 7 thăm và làm việc tại Trung tâm huấn luyện Lục quân/Quân đội Hoàng gia Campuchia</b>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="text_2_line" style="text-align:justify;margin-bottom:7px">
                            <a href="https://www.tqsqk7.edu.vn/truong-quan-su-quan-khu-7-tham-va-lam-viec-tai-trung-tam-huan-luyen-luc-quan-quan-doi-hoang-gia-campuchia-cgcc-p.html" class="text_body" title="Trường Quân sự Quân khu 7 thăm và làm việc tại Trung tâm huấn luyện Lục quân/Quân đội Hoàng gia Campuchia">
                                Thực hiện Kế hoạch đào tạo tiếng Khmer cho cán bộ Lực lượng vũ trang Quân khu 7 tại trường Quân sự Quân khu năm 2025 đã được Tư lệnh Quân khu phê duyệt; căn cứ thỏa ước kết nghĩa giữa hai đơn vị. Ngày 21/8/2025, Đoàn Công tác của Trường Quân sự Quân khu 7 do đồng chí Đại tá Bùi Đình Thành, Bí thư Đảng ủy, Chính uỷ Nhà trường làm trưởng đoàn đã thăm và làm việc với Ban Giám đốc Trung tâm Huấn luyện Lục quân/Quân đội Hoàng gia Campuchia.
                                Quang cảnh Hội nghị
                                Trong buổi làm việc, hai bên trao đổi thống nhất về nội dung, chương trình, thời gian và những kỹ năng cần đạt được trong quá trình thực tập của học viên. Đồng chí Chính ủy Nhà trường cảm ơn sâu sắc đến Ban Giám đốc, cán bộ, giáo viên Trung tâm Huấn huyện Lục quân trong thời gian qua đã tạo điều kiện giúp đỡ, hỗ trợ học viên Nhà trường học tập thực tế tại Trung tâm và nhấn mạnh "Việc tổ chức cho học viên đào tạo tiếng Khmer thực tập tại Trung tâm không chỉ để nâng cao kiến thức, các kỹ năng, mà còn là dịp tăng cường tình cảm, sự hiểu biết, niềm tin giữa Nhân dân, Quân đội hai nước, hai đơn vị và mong muốn tiếp tục nhận được sự hỗ trợ giúp đỡ của Trung tâm, tiếp nối truyền thống đoàn kết quốc tế trong sáng, thủy chung mà các thế hệ cha anh hai dân tộc đã dày công vun đắp".
                                Lãnh đạo hai đơn vị trao đổi thống nhất các nội dung trong Hội nghị
                                Lãnh đạo Trung tâm Huấn luyện Lục quân Campuchia bày tỏ niềm vui mừng, vinh dự được đón tiếp Đoàn Công tác của Trường Quân sự Quân khu 7, sang thăm, làm việc và trao đổi về chương trình thực tập cho học viên đào tạo tiếng Kh'mer; khẳng định sẽ phối hợp chặt chẽ, tạo mọi điều kiện thuận lợi nhất để các học viên hoàn thành tốt nhiệm vụ thực tập.
                                Cũng nhân dịp này, đồng chí Chính uỷ Nhà trường cùng Đoàn công tác đã viếng Đài tưởng niệm Quân tình nguyện Việt Nam tại Thủ đô Phnompenh Campuchia.
                                Đoàn Công tác Trường Quân sự Quân khu 7 viếng Đài tưởng niệm Quân tình nguyện Việt Nam Chính uỷ Nhà trường và Đoàn công tác chụp ảnh lưu niệm với Ban Giám đốc, cán bộ, giáo viên Trung tâm
                                Hội nghị phối hợp hợp tác giáo dục, đào tạo giữa hai đơn vị đã thành công tốt đẹp, để lại nhiều ấn tượng sâu sắc, tiếp tục khẳng định mối quan hệ “láng giềng tốt đẹp, hữu nghị truyền thống, hợp tác toàn diện, bền vững lâu dài” giữa Việt Nam – Campuchia, góp phần xây dựng quân đội mỗi nước ngày càng chính quy, hiện đại, vì hòa bình, ổn định và phát triển của mỗi nước và khu vực./.
                                Ban Tuyên huấn/ Phòng Chính trị
                            </a>
                        </div>

                        <div>
                            <a href="https://www.tqsqk7.edu.vn/truong-quan-su-quan-khu-7-tham-va-lam-viec-tai-trung-tam-huan-luyen-luc-quan-quan-doi-hoang-gia-campuchia-cgcc-p.html">
                                <b>xem chi tiết</b>
                            </a>
                        </div>
                    </div>

                </div>

                <div style="display:grid;grid-template-columns:133px auto;grid-gap:12px;margin-bottom:20px;position:relative">

                    <div style="position:absolute;top:0;bottom:0;left:0;width:10px;z-index:1;display:none" class="bg_red left_border">
                    </div>

                    <div style="width:133px;height:86px;overflow:hidden" class="bg_black img-hover-zoom">
                        <a href="https://www.tqsqk7.edu.vn/truong-quan-su-quan-khu-7-to-chuc-le-khai-giang-dao-tao-hsqch-va-nvcmkt-khoa-61-nam-2025-cgaq-p.html">
                            <img src="https://www.tqsqk7.edu.vn/upload/thumb/15_638913086200823604___266.jpg" id="imgThumb" style="width:100%" class="border_black">
                        </a>
                    </div>

                    <div>
                        <div class="text_2_line" style="margin-bottom:7px">
                            <a href="https://www.tqsqk7.edu.vn/truong-quan-su-quan-khu-7-to-chuc-le-khai-giang-dao-tao-hsqch-va-nvcmkt-khoa-61-nam-2025-cgaq-p.html" class="text_body" title="Trường Quân sự Quân khu 7 tổ chức Lễ khai giảng đào tạo HSQCH và NVCMKT khóa 61 năm 2025">


                                <div style="display:flex;align-items:center">


                                    <div>
                                        <b>Trường Quân sự Quân khu 7 tổ chức Lễ khai giảng đào tạo HSQCH và NVCMKT khóa 61 năm 2025</b>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="text_2_line" style="text-align:justify;margin-bottom:7px">
                            <a href="https://www.tqsqk7.edu.vn/truong-quan-su-quan-khu-7-to-chuc-le-khai-giang-dao-tao-hsqch-va-nvcmkt-khoa-61-nam-2025-cgaq-p.html" class="text_body" title="Trường Quân sự Quân khu 7 tổ chức Lễ khai giảng đào tạo HSQCH và NVCMKT khóa 61 năm 2025">
                                Ngày 20/8, Trường Quân sự Quân khu 7 tổ chức Lễ khai giảng đào tạo hạ sĩ quan chỉ huy (HSQCH) và nhân viên chuyên môn kỹ thuật (NVCMKT) khóa 61 năm 2025. Dự và chỉ đạo Lễ khai giảng Thiếu tướng Lê Ngọc Hải, Phó Tham mưu trưởng Quân khu, thừa ủy quyền Bộ Tư lệnh Quân khu; tham dự có Thủ trưởng các cơ quan Quân khu; Thủ trưởng Ban Giám hiệu Nhà trường, chỉ huy các cơ quan, khoa giáo viên, đơn vị và học viên HSQCH và NVCMKT khóa 61.
                                Đại tá Lê Ngọc Dương, Đảng ủy viên Quân khu, Phó Bí thư Đảng ủy, Hiệu trưởng Nhà trường phát biểu khai giảng
                                Năm 2025, Trường Quân sự Quân khu được giao nhiệm vụ đào tạo HSQCH và NVCMKT cho 2.326 học viên được tuyển chọn từ các đơn vị, địa phương trong toàn Quân khu. Với mục tiêu đào tạo trang bị cho học viên những kiến thức cơ bản về tư tưởng chính trị, kiến thức về hoạt động quân sự, chuyên môn kỹ thuật; sử dụng thành thạo các loại vũ khí khí tài, trang bị kỹ thuật hiện có trong biên chế của tiểu đội, khẩu đội; thuần thục các động tác kỹ thuật, chiến thuật cá nhân và chuyên ngành, phương pháp, tác phong chỉ huy của tiểu đội, khẩu đội trưởng; giỏi cấp tổ, thành thạo cấp tiểu đội, biết cấp trung đội.
                                Phát biểu chỉ đạo Lễ khai giảng, Thiếu tướng Lê Ngọc Hải, Phó Tham mưu trưởng Quân khu yêu cầu Ban Giám hiệu Nhà trường và cán bộ giáo viên nhà trường quán triệt và triển khai các nghị quyết của Bộ Quốc phòng và Quân khu về đổi mới công tác giáo dục đào tạo theo yêu cầu nhiệm vụ xây dựng quân đội trong tình hình mới. Các cơ quan, khoa giáo viên ứng dụng có hiệu quả khoa học, công nghệ trong giáo dục đào tạo, thực hiện tốt phương châm đào tạo “Cơ bản, hệ thống, thống nhất, chuyên sâu”; vận dụng tốt “3 quan điểm, 8 nguyên tắc, 6 mối kết hợp” trong quá trình huấn luyện. Thường xuyên cập nhật bài giảng theo sát chương trình đào tạo cho từng đối tượng, lồng ghép nội dung huấn luyện với giáo dục, phổ biến pháp luật cho học viên. Học viên chấp hành nghiêm các chế độ, quy định của khóa học, an tâm tư tưởng, phát huy tính chủ động, sáng tạo của tuổi trẻ quân đội, nâng cao ý thực tự học tự rèn, khắc phục mọi khó khăn, đoàn kết quyết tâm hoàn thành xuất sắc nhiệm vụ khóa học.
                                Thiếu tướng Lê Ngọc Hải, Phó Tham mưu trưởng Quân khu phát biểu chỉ đạo Quang cảnh Lễ khai giảng khóa 61
                                Đại biểu dự Lễ Khai giảng
                                Trung tá, Thạc sỹ Nguyễn Đức Thịnh giáo viên Khoa KHXH&amp;NV, thay mặt đội ngũ giáo viên phát biểu
                                Đại diện học viên khóa 61 phát biểu hứa hẹn quyết tâm trong khóa học
                                Các khối duyệt đội ngũ qua khán đài
                                Với khí thế quyết tâm trong Lễ Khai giảng đào tạo HSQCH và NVCMKT khóa 61 năm 2025. Trường Quân sự Quân khu 7 sẽ hoàn thành thắng lợi nhiệm vụ Khóa học, đào tạo đội ngũ cán bộ tiểu đội trưởng, khẩu đội trưởng, Nhân viên chuyên môn kỹ thuật vừa hồng, vừa chuyên đóng góp xứng đáng vào xây dựng lực lượng vũ trang Quân khu 7 ngày càng vững mạnh, hoàn thành thắng lợi mọi nhiệm vụ được giao./.
                                Bá Tuấn- Minh Khoa/ Phòng Chính trị
                            </a>
                        </div>

                        <div>
                            <a href="https://www.tqsqk7.edu.vn/truong-quan-su-quan-khu-7-to-chuc-le-khai-giang-dao-tao-hsqch-va-nvcmkt-khoa-61-nam-2025-cgaq-p.html">
                                <b>xem chi tiết</b>
                            </a>
                        </div>
                    </div>

                </div>

                <div style="display:grid;grid-template-columns:133px auto;grid-gap:12px;margin-bottom:20px;position:relative">

                    <div style="position:absolute;top:0;bottom:0;left:0;width:10px;z-index:1;display:none" class="bg_red left_border">
                    </div>

                    <div style="width:133px;height:86px;overflow:hidden" class="bg_black img-hover-zoom">
                        <a href="https://www.tqsqk7.edu.vn/thieu-tuong-tran-vinh-ngoc,-chinh-uy-quan-khu-7-duoc-bau-giu-chuc-bi-thu-dang-uy-quan-khu-7-nhiem-ky-2025-2030-cgao-p.html">
                            <img src="https://www.tqsqk7.edu.vn/upload/thumb/15_638909410280632491___266.jpg" id="imgThumb" style="width:100%" class="border_black">
                        </a>
                    </div>

                    <div>
                        <div class="text_2_line" style="margin-bottom:7px">
                            <a href="https://www.tqsqk7.edu.vn/thieu-tuong-tran-vinh-ngoc,-chinh-uy-quan-khu-7-duoc-bau-giu-chuc-bi-thu-dang-uy-quan-khu-7-nhiem-ky-2025-2030-cgao-p.html" class="text_body" title="Thiếu tướng Trần Vinh Ngọc, Chính ủy Quân khu 7 được bầu giữ chức Bí thư Đảng ủy Quân khu 7 nhiệm kỳ 2025 - 2030">


                                <div style="display:flex;align-items:center">


                                    <div>
                                        <b>Thiếu tướng Trần Vinh Ngọc, Chính ủy Quân khu 7 được bầu giữ chức Bí thư Đảng ủy Quân khu 7 nhiệm kỳ 2025 - 2030</b>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="text_2_line" style="text-align:justify;margin-bottom:7px">
                            <a href="https://www.tqsqk7.edu.vn/thieu-tuong-tran-vinh-ngoc,-chinh-uy-quan-khu-7-duoc-bau-giu-chuc-bi-thu-dang-uy-quan-khu-7-nhiem-ky-2025-2030-cgao-p.html" class="text_body" title="Thiếu tướng Trần Vinh Ngọc, Chính ủy Quân khu 7 được bầu giữ chức Bí thư Đảng ủy Quân khu 7 nhiệm kỳ 2025 - 2030">
                                (QK7 Online) – Sau 2,5 ngày làm việc khẩn trương, nghiêm túc, dân chủ và trách nhiệm, Đại hội đại biểu Đảng bộ Quân khu 7 lần thứ XI, nhiệm kỳ 2025 - 2030 đã hoàn thành nội dung, chương trình đề ra, thực sự mẫu mực, tiêu biểu, trí tuệ, đổi mới và thành công tốt đẹp.
                                Quang cảnh Đại hội. Ảnh: Lê Trầm.
                                Ngày 15/8, tiếp tục chương trình làm việc của Đại hội đại biểu Đảng bộ Quân khu 7 lần thứ XI, nhiệm kỳ 2025 – 2030, Đại hội đã thông báo kết quả phiên họp thứ nhất của Ban Chấp hành Đảng bộ Quân khu khóa XI. Theo kết quả bầu cử, Thiếu tướng Trần Vinh Ngọc, Chính ủy Quân khu 7 được bầu giữ chức Bí thư Đảng ủy Quân khu; Thiếu tướng Lê Xuân Thế, Tư lệnh Quân khu được bầu giữ chức Phó Bí thư Đảng ủy Quân khu, nhiệm kỳ 2025 – 2030.
                                Thiếu tướng Ngô Quang Tuấn, Ủy viên Chuyên trách Ủy ban Kiểm tra Quân ủy Trung ương tặng hoa chúc mừng Ban Chấp hành Đảng bộ Quân khu 7, nhiệm kỳ 2025 – 2030 và đoàn đại biểu đi dự Đại hội Đảng bộ Quân đội lần thứ XII.
                                Ban Thường vụ Đảng ủy Quân khu 7, nhiệm kỳ 2025 – 2030 gồm 6 đồng chí:
                                1. Thiếu tướng Trần Vinh Ngọc, Bí thư Đảng ủy, Chính ủy Quân khu.
                                2. Thiếu tướng Lê Xuân Thế, Phó Bí thư Đảng ủy, Tư lệnh Quân khu.
                                3. Đại tá Lê Xuân Bình, Ủy viên Ban Thường vụ Đảng ủy, Phó Tư lệnh, Tham mưu trưởng Quân khu.
                                4. Thiếu tướng Trần Chí Tâm, Ủy viên Ban Thường vụ Đảng ủy, Phó Chính ủy Quân khu.
                                5. Thiếu tướng Đặng Văn Lẫm, Ủy viên Ban Thường vụ Đảng ủy, Phó Tư lệnh Quân khu.
                                6. Đại tá Phạm Anh Tuấn, Ủy viên Ban Thường vụ Đảng ủy, Chủ nhiệm Chính trị Quân khu.
                                Đại hội đã tiến hành bầu đoàn đại biểu đi dự Đại hội đại biểu Đảng bộ Quân đội lần thứ XII gồm 13 đồng chí chính thức, 2 đồng chí dự khuyết.
                                Các đảng viên bầu đoàn đại biểu đi dự Đại hội Đảng bộ Quân đội lần thứ XII. Ảnh: Tuấn Anh.
                                Trong ngày, Đại hội đã tiến hành thảo luận, đóng góp nhiều ý kiến tâm huyết, sát thực tiễn vào văn kiện Đại hội XIV của Đảng; dự thảo báo cáo chính trị tại Đại hội đại biểu Đảng bộ Quân đội lần thứ XII.
                                Đại tá Lê Xuân Bình, Ủy viên Ban Thường vụ Đảng ủy, Phó Tư lệnh, Tham mưu trưởng Quân khu điều hành phần thảo luận. Ảnh: Duy Tình.
                                Phát huy tinh thần trách nhiệm, các ý kiến tâm huyết đóng góp vào dự thảo văn kiện Đại hội XIV của Đảng khẳng định tính đúng đắn, toàn diện của chủ đề, phương hướng, mục tiêu phát triển đất nước trong giai đoạn mới; đồng thời đề nghị bổ sung, cụ thể hóa hơn các giải pháp về phát triển kinh tế gắn với bảo đảm quốc phòng, an ninh; đẩy mạnh công nghiệp hóa, hiện đại hóa trên nền tảng khoa học – công nghệ, đổi mới sáng tạo và chuyển đổi số. Nhiều ý kiến nhấn mạnh việc tiếp tục xây dựng, chỉnh đốn Đảng và hệ thống chính trị thật sự trong sạch, vững mạnh toàn diện; kiên quyết, kiên trì đấu tranh phòng, chống tham nhũng, tiêu cực; củng cố khối đại đoàn kết toàn dân tộc.
                                Đại tá Nguyễn Như Trúc, Phó Chủ nhiệm Chính trị Quân khu phát biểu tham luận. Ảnh: Tuấn Anh.
                                Đóng góp vào dự thảo báo cáo chính trị tại Đại hội đại biểu Đảng bộ Quân đội lần thứ XII. Các ý kiến đã tập trung đánh giá toàn diện kết quả lãnh đạo thực hiện nhiệm vụ quân sự, quốc phòng, xây dựng Đảng bộ Quân đội trong nhiệm kỳ qua; phân tích rõ nguyên nhân, rút ra bài học kinh nghiệm. Nhiều ý kiến đề xuất bổ sung chỉ tiêu, nhiệm vụ, giải pháp mang tính đột phá, nhất là về xây dựng Quân đội vững mạnh về chính trị, nâng cao chất lượng huấn luyện, sẵn sàng chiến đấu, bảo đảm hậu cần – kỹ thuật, ứng dụng khoa học – công nghệ; chú trọng công tác cán bộ, phát triển nguồn nhân lực chất lượng cao, xây dựng chính quy, rèn luyện kỷ luật, cải thiện đời sống bộ đội.
                                Thiếu tướng Trần Vinh Ngọc, Bí thư Đảng ủy, Chính ủy Quân khu 7 phát biểu bế mạc Đại hội. Ảnh: Lê Trầm.
                                Phát biểu bế mạc Đại hội, Thiếu tướng Trần Vinh Ngọc, Bí thư Đảng ủy, Chính ủy Quân khu 7 khẳng định, thành công của Đại hội là khởi đầu rất thuận lợi để toàn Đảng bộ, LLVT Quân khu tiếp tục đoàn kết thành một khối thống nhất, phát huy cao độ sức mạnh tổng hợp, khai thác tối đa mọi nguồn lực, triển khai thực hiện hiệu quả phương hướng, mục tiêu, chỉ tiêu, khâu đột phá và nhiệm vụ, giải pháp nhiệm kỳ tới, quyết tâm nâng cao sức mạnh của nền quốc phòng toàn dân, Biên phòng toàn dân, gắn chặt thế trận quốc phòng toàn dân với thế trận an ninh nhân dân, xây dựng khu vực phòng thủ vững chắc, góp phần quan trọng bảo vệ vững chắc độc lập, chủ quyền, toàn vẹn lãnh thổ của Tổ quốc, giữ vững môi trường hòa bình, ổn định để phát triển kinh tế - xã hội trên địa bàn chiến lược trọng điểm phía Nam của Tổ quốc.
                                Thiếu tướng Trần Vinh Ngọc, Bí thư Đảng ủy, Chính ủy Quân khu tham quan khu trưng bày hoạt động công tác Đảng, công tác chính trị của LLVT Quân khu. Ảnh: Lê Tiến.
                                Thiếu tướng Lê Xuân Thế, Phó Bí thư Đảng ủy, Tư lệnh Quân khu tham quan các sáng kiến, cải tiến kỹ thuật. Ảnh: Lê Tiến
                                Bạch Thiết
                            </a>
                        </div>

                        <div>
                            <a href="https://www.tqsqk7.edu.vn/thieu-tuong-tran-vinh-ngoc,-chinh-uy-quan-khu-7-duoc-bau-giu-chuc-bi-thu-dang-uy-quan-khu-7-nhiem-ky-2025-2030-cgao-p.html">
                                <b>xem chi tiết</b>
                            </a>
                        </div>
                    </div>

                </div>

                <div style="display:grid;grid-template-columns:133px auto;grid-gap:12px;margin-bottom:20px;position:relative">

                    <div style="position:absolute;top:0;bottom:0;left:0;width:10px;z-index:1;display:none" class="bg_red left_border">
                    </div>

                    <div style="width:133px;height:86px;overflow:hidden" class="bg_black img-hover-zoom">
                        <a href="https://www.tqsqk7.edu.vn/dai-hoi-dai-bieu-dang-bo-quan-khu-7-tien-hanh-bau-cu-ban-chap-hanh-dang-bo-nhiem-ky-2025-2030-cgam-p.html">
                            <img src="https://www.tqsqk7.edu.vn/upload/thumb/16_638908679344814190___266.jpg" id="imgThumb" style="width:100%" class="border_black">
                        </a>
                    </div>

                    <div>
                        <div class="text_2_line" style="margin-bottom:7px">
                            <a href="https://www.tqsqk7.edu.vn/dai-hoi-dai-bieu-dang-bo-quan-khu-7-tien-hanh-bau-cu-ban-chap-hanh-dang-bo-nhiem-ky-2025-2030-cgam-p.html" class="text_body" title="Đại hội đại biểu Đảng bộ Quân khu 7 tiến hành bầu cử Ban Chấp hành Đảng bộ nhiệm kỳ 2025-2030">


                                <div style="display:flex;align-items:center">


                                    <div>
                                        <b>Đại hội đại biểu Đảng bộ Quân khu 7 tiến hành bầu cử Ban Chấp hành Đảng bộ nhiệm kỳ 2025-2030</b>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="text_2_line" style="text-align:justify;margin-bottom:7px">
                            <a href="https://www.tqsqk7.edu.vn/dai-hoi-dai-bieu-dang-bo-quan-khu-7-tien-hanh-bau-cu-ban-chap-hanh-dang-bo-nhiem-ky-2025-2030-cgam-p.html" class="text_body" title="Đại hội đại biểu Đảng bộ Quân khu 7 tiến hành bầu cử Ban Chấp hành Đảng bộ nhiệm kỳ 2025-2030">
                                (QK7 Online)
                                - Chiều 14/8, Đại hội đại biểu Đảng bộ Quân khu 7, lần thứ XI, nhiệm kỳ 2025-2030 tiếp tục tiến hành nhiều nội dung quan trọng. Tham dự có Thiếu tướng Ngô Quang Tuấn, Ủy viên chuyên trách Ủy ban Kiểm tra (UBKT) Quân ủy Trung ương; đồng chí Y Thanh Hà Niê K’Đăm, Ủy viên Trung ương Đảng, Bí thư Tỉnh ủy Lâm Đồng; đồng chí Vũ Hồng Văn, Bí thư Tỉnh ủy Đồng Nai; đồng chí Nguyễn Văn Quyết, Bí thư Tỉnh ủy Tây Ninh; đại biểu lãnh đạo, chỉ huy các cơ quan chức năng của Bộ Quốc phòng.
                                Thiếu tướng Ngô Quang Tuấn, Ủy viên chuyên trách Ủy ban Kiểm tra (UBKT) Quân ủy Trung ương dự, phát biểu tại Đại hội
                                Đại hội đã thảo luận đóng góp vào Báo cáo chính trị; Báo cáo kiểm điểm của Đảng ủy Quân khu nhiệm kỳ 2020-2025; dự thảo Chương trình hành động thực hiện Nghị quyết Đại hội nhiệm kỳ 2025-2030. Các đại biểu đã nêu cao tinh thần, trách nhiệm, đoàn kết, tập trung trí tuệ, tích cực thảo luận, đóng góp nhiều ý kiến sâu sắc, có chất lượng, nhất là đề xuất nhiều giải pháp sát thực tiễn đời sống của cán bộ, chiến sĩ LLVT như việc lãnh đạo, chỉ đạo nâng cao chất lượng huấn luyện, sẵn sàng chiến đấu, xây dựng chính quy, rèn luyện kỷ luật.
                                Đại biểu bỏ phiếu tín nhiệm
                                Xây dựng tổ chức Đảng vững mạnh ngay từ cơ sở; xây dựng cấp ủy, tổ chức đảng các cấp trong sạch, vững mạnh; LLVT Quân khu vững mạnh toàn diện "Mẫu mực, tiêu biểu"; làm tốt công tác dân vận, chính sách, phát huy tối đa sức mạnh tổng hợp, tiếp tục huy động tối đa mọi nguồn lực triển khai nhiều chủ trương, đề án, mô hình mới, góp phần xây dựng tiềm lực, lực lượng, thế trận Quốc phòng, khu vực phòng thủ, bảo vệ vững chắc Tổ quốc.
                                Phát huy tinh thần dân chủ, đoàn kết, trí tuệ, các đại biểu đã lựa chọn, gửi gắm niềm tin bầu Ban Chấp hành Đảng bộ Quân khu nhiệm kỳ 2025-2030 gồm 20 đồng chí.
                                Hội nghị biểu quyết
                                Đảng ủy Quân khu 7 khóa XI, nhiệm kỳ 2025-2030 tiến hành họp phiên thứ nhất, bầu Ban Thường vụ, Bí thư, Phó Bí thư Đảng ủy, Ủy ban Kiểm tra và Chủ nhiệm Ủy ban Kiểm tra Đảng ủy Quân khu nhiệm kỳ 2025-2030.
                                Ngày mai 15/8, Đại hội tiếp tục ngày làm việc thứ 3, thảo luận các nội dung văn kiện Đại hội đại biểu Đảng bộ Quân đội lần thứ XII và Đại hội đại biểu lần thứ XIV của Đảng; bầu đoàn đại biểu đi dự Đại hội đại biểu Đảng bộ Quân đội lần thứ XII; ra mắt Ban Chấp hành Đảng bộ Quân khu nhiệm kỳ 2025-2030; đoàn đại biểu đi dự Đại hội đại biểu Đảng bộ Quân đội lần thứ XII.
                                Vũ Thị Duyên (st)
                            </a>
                        </div>

                        <div>
                            <a href="https://www.tqsqk7.edu.vn/dai-hoi-dai-bieu-dang-bo-quan-khu-7-tien-hanh-bau-cu-ban-chap-hanh-dang-bo-nhiem-ky-2025-2030-cgam-p.html">
                                <b>xem chi tiết</b>
                            </a>
                        </div>
                    </div>

                </div>

                <div style="display:grid;grid-template-columns:133px auto;grid-gap:12px;margin-bottom:20px;position:relative">

                    <div style="position:absolute;top:0;bottom:0;left:0;width:10px;z-index:1;display:none" class="bg_red left_border">
                    </div>

                    <div style="width:133px;height:86px;overflow:hidden" class="bg_black img-hover-zoom">
                        <a href="https://www.tqsqk7.edu.vn/dang-bo-quan-khu-7-chu-dong,-sang-tao,-tu-luc,-tu-cuong,-dot-pha-trien-khai-nhieu-chu-truong,-de-an,-mo-hinh-moi-cgak-p.html">
                            <img src="https://www.tqsqk7.edu.vn/upload/thumb/16_638908672589490613___266.jpg" id="imgThumb" style="width:100%" class="border_black">
                        </a>
                    </div>

                    <div>
                        <div class="text_2_line" style="margin-bottom:7px">
                            <a href="https://www.tqsqk7.edu.vn/dang-bo-quan-khu-7-chu-dong,-sang-tao,-tu-luc,-tu-cuong,-dot-pha-trien-khai-nhieu-chu-truong,-de-an,-mo-hinh-moi-cgak-p.html" class="text_body" title="Đảng bộ Quân khu 7 chủ động, sáng tạo, tự lực, tự cường, đột phá triển khai nhiều chủ trương, đề án, mô hình mới">


                                <div style="display:flex;align-items:center">


                                    <div>
                                        <b>Đảng bộ Quân khu 7 chủ động, sáng tạo, tự lực, tự cường, đột phá triển khai nhiều chủ trương, đề án, mô hình mới</b>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="text_2_line" style="text-align:justify;margin-bottom:7px">
                            <a href="https://www.tqsqk7.edu.vn/dang-bo-quan-khu-7-chu-dong,-sang-tao,-tu-luc,-tu-cuong,-dot-pha-trien-khai-nhieu-chu-truong,-de-an,-mo-hinh-moi-cgak-p.html" class="text_body" title="Đảng bộ Quân khu 7 chủ động, sáng tạo, tự lực, tự cường, đột phá triển khai nhiều chủ trương, đề án, mô hình mới">
                                (QK7 Online)
                                - Sáng ngày 14/8, Đảng bộ Quân khu 7 tổ chức khai mạc trọng thể phiên chính thức Đại hội đại biểu lần thứ XI, nhiệm kỳ 2025-2030. Đại tướng Trịnh Văn Quyết, Bí thư Trung ương Đảng, Ủy viên Thường vụ Quân ủy Trung ương, Chủ nhiệm Tổng cục Chính trị Quân đội nhân dân (QĐND) Việt Nam dự, chỉ đạo Đại hội.
                                Đại tướng Trịnh Văn Quyết, Bí thư Trung ương Đảng, Ủy viên Thường vụ Quân ủy Trung ương
                                Chủ nhiệm Tổng cục Chính trị Quân đội nhân dân (QĐND) Việt Nam dự, chỉ đạo Đại hội
                                Dự Đại hội có Thượng tướng Nguyễn Quang Ngọc, Ủy viên Trung ương Đảng, Ủy viên Quân ủy Trung ương, Phó Tổng Tham mưu trưởng QĐND Việt Nam; Trung tướng Phạm Ngọc Tuấn, Phó Chủ nhiệm Thường trực UBKT Quân ủy Trung ương; Thiếu tướng Trần Vinh Ngọc, Bí thư Đảng ủy, Chính ủy Quân khu; Thiếu tướng Lê Xuân Thế, Phó Bí thư Đảng ủy, Tư lệnh Quân khu; đồng chí Nguyễn Văn Được, Ủy viên Trung ương Đảng, Phó Bí thư Thành ủy, Chủ tịch UBND Thành phố Hồ Chí Minh; đồng chí Y Thanh Hà Niê K’Đăm, Ủy viên Trung ương Đảng, Bí thư Tỉnh ủy Lâm Đồng; đồng chí Nguyễn Văn Quyết, Bí thư Tỉnh ủy Tây Ninh; đồng chí Nguyễn Văn Út, Phó Bí thư Tỉnh ủy, Chủ tịch UBND tỉnh Tây Ninh; đồng chí Tôn Ngọc Hạnh, Phó Bí thư Thường trực Tỉnh ủy, Chủ tịch HĐND tỉnh Đồng Nai. Cùng dự có đại biểu lãnh đạo Ủy ban Kiểm tra Trung ương; các cơ quan chức năng của Bộ Quốc phòng; các đồng chí trong Ban Thường vụ Đảng ủy, thủ trưởng Bộ Tư lệnh Quân khu; các đơn vị Bộ Quốc phòng, lãnh đạo các đơn vị kết nghĩa và gần 300 đại biểu ưu tú trong toàn Đảng bộ LLVT Quân khu về dự Đại hội.
                                Phát biểu khai mạc Đại hội, Thiếu tướng Trần Vinh Ngọc, Bí thư Đảng ủy, Chính ủy Quân khu 7 nhấn mạnh: Đại hội là đợt sinh hoạt chính trị sâu rộng, có ý nghĩa đặc biệt quan trọng, là cơ sở để định hướng tiếp tục nâng cao năng lực lãnh đạo, sức chiến đấu của toàn Đảng bộ, phát huy sức mạnh tổng hợp, xây dựng nền quốc phòng toàn dân vững mạnh, LLVT Quân khu thực sự vững mạnh toàn diện, “Mẫu mực, tiêu biểu”, hoàn thành thắng lợi mọi nhiệm vụ trong giai đoạn mới. Thiếu tướng Trần Vinh Ngọc bày tỏ niềm tin, với tinh thần “Đoàn kết - Dân chủ - Kỷ cương - Năng động - Sáng tạo - Phát triển”, mỗi đại biểu sẽ phát huy cao độ tinh thần trách nhiệm, tập trung trí tuệ, đóng góp những ý kiến sâu sắc, thiết thực, góp phần vào thành công của Đại hội, đóng góp thiết thực cho thành công chung của Đại hội đại biểu Đảng bộ Quân đội lần thứ XII và Đại hội đại biểu toàn quốc lần thứ XIV của Đảng.
                                Thiếu tướng Trần Vinh Ngọc, Bí thư Đảng ủy, Chính ủy Quân khu 7 phát biểu khai mạc
                                Đại hội đánh giá, nhiệm kỳ qua, Đảng bộ Quân khu đã quán triệt sâu sắc, triển khai thực hiện nghiêm túc, hiệu quả đường lối, chủ trương của Đảng, chính sách, pháp luật của Nhà nước; nghị quyết, chỉ thị, kết luận, quy chế, quy định của Quân ủy Trung ương, Bộ Quốc phòng; lãnh đạo hoàn thành toàn diện các nhiệm vụ, nhiều nhiệm vụ hoàn thành tốt và xuất sắc, nổi bật là: Tham mưu đề xuất với Đảng, Nhà nước, Quân ủy Trung ương, Bộ Quốc phòng và phối hợp chặt chẽ các lực lượng xử lý hiệu quả các tình huống quốc phòng an ninh, không để bị động, bất ngờ. Chủ động, sáng tạo, tự lực, tự cường; phát huy cao độ sức mạnh tổng hợp, huy động tối đa mọi nguồn lực đột phá triển khai nhiều chủ trương, đề án, mô hình mới, góp phần xây dựng tiềm lực, lực lượng, thế trận Quốc phòng, khu vực phòng thủ, bảo vệ vững chắc Tổ quốc. Xây dựng cấp ủy, tổ chức đảng các cấp trong sạch, vững mạnh; LLVT Quân khu vững mạnh toàn diện "Mẫu mực, tiêu biểu", có chất lượng tổng hợp, sức mạnh chiến đấu ngày càng cao, đáp ứng với yêu cầu nhiệm vụ trong tình hình mới.
                                Thực hiện nghiêm chế độ sẵn sàng chiến đấu (SSCĐ); phối hợp chặt chẽ với các lực lượng bảo vệ an toàn tuyệt đối các sự kiện trọng đại của đất nước. Chủ động xây dựng, điều chỉnh, bổ sung và hoàn chỉnh hệ thống văn kiện SSCĐ sát thực tiễn. Tích cực, chủ động giúp Nhân dân phòng, chống, khắc phục thiên tai, tìm kiếm cứu hộ, cứu nạn. Đặc biệt đã huy động trên 100 ngàn lượt cán bộ, chiến sĩ, dân quân tự vệ, quân nhân dự bị, 47 ngàn lượt phương tiện và trên 812 tỷ đồng hỗ trợ Nhân dân phòng, chống đại dịch Covid-19. Phối hợp chặt chẽ với các tỉnh ủy, thành ủy trên địa bàn lãnh đạo, chỉ đạo xây dựng nền quốc phòng toàn dân (QPTD), thế trận QPTD gắn với thế trận an ninh nhân dân (ANND) vững mạnh, xây dựng khu vực phòng thủ (KVPT) vững chắc. Huy động tối đa mọi tiềm lực bảo đảm cho nhiệm vụ QSQP.
                                Đại biểu dự Đại hội
                                Thực hiện hiệu quả đột phá “Nâng cao chất lượng công tác quân sự, quốc phòng địa phương, tập trung xây dựng LLVT địa phương vững mạnh ngay từ cơ sở”, chủ động cùng cấp ủy, chính quyền các địa phương đề ra nhiều chủ trương, đề án, mô hình sáng tạo. Thực hiện tốt công tác tuyển chọn, gọi công dân nhập ngũ, trình độ, chất lượng ngày càng cao; xây dựng lực lượng dân quân tự vệ, dự bị động viên có số lượng, chất lượng, nhất là xây dựng Hải đội dân quân thường trực. Đẩy mạnh học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh, gắn với Cuộc vận động phát huy truyền thống, cống hiến tài năng, xứng danh “Bộ đội Cụ Hồ” thời kỳ mới. Triển khai thực hiện Đề án nâng cao chất lượng hoạt động của Lực lượng 47 trong LLVT Quân khu, giai đoạn 2020-2025, xung kích, đi đầu trong bảo vệ nền tảng tư tưởng của Đảng trên không gian mạng.
                                Thực hiện nghiêm túc nghị quyết, kết luận, quy định, quyết định của Trung ương, Quân ủy Trung ương, Bộ Quốc phòng về đổi mới, sắp xếp tổ chức bộ máy của hệ thống chính trị, tổ chức quân sự địa phương “tinh, gọn, mạnh”. Phối hợp với cấp uỷ, chính quyền các địa phương sáp nhập các Bộ CHQS cấp tỉnh, Ban CHQS cấp xã, giải thể Ban CHQS cấp huyện, thành lập Ban Chỉ huy Phòng thủ khu vực, Ban Chỉ huy Bộ đội Biên phòng đi vào hoạt động đúng chức năng, nhiệm vụ, phù hợp với tổ chức chính quyền địa phương 2 cấp. Công tác cải cách hành chính, xây dựng Chính phủ điện tử, chuyển đổi số đạt được nhiều kết quả quan trọng. Bảo đảm tốt hậu cần, kỹ thuật cho nhiệm vụ SSCĐ, thường xuyên và đột xuất. Nghiên cứu khoa học có nhiều đề tài chất lượng, tính ứng dụng cao. Hoạt động hợp tác kết nghĩa với các đơn vị Quân đội Hoàng gia Campuchia và Tập đoàn quân Miền Đông, Bộ các LLVT Cách mạng Cuba đạt hiệu quả thiết thực.
                                Quán triệt sâu sắc nghị quyết của Trung ương, cấp ủy cấp trên về xây dựng, chỉnh đốn Đảng gắn với đẩy mạnh học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh. Các tổ chức quần chúng, tập thể quân nhân phát huy tốt vai trò giám sát, góp phần ngăn chặn, đẩy lùi suy thoái về tư tưởng chính trị, đạo đức, lối sống, “tự diễn biến”, “tự chuyển hóa” trong Đảng bộ, LLVT Quân khu. Lãnh đạo thực hiện hiệu quả đột phá “Nâng cao năng lực lãnh đạo toàn diện và sức chiến đấu của cấp ủy, tổ chức đảng các cấp, nhất là ở cơ sở và chi bộ”. Thực hiện đồng bộ các giải pháp về tăng cường củng cố, xây dựng tổ chức cơ sở đảng và nâng cao chất lượng đội ngũ đảng viên. Kịp thời củng cố, kiện toàn đội ngũ cấp ủy viên đủ số lượng, bảo đảm chất lượng.
                                Đổi mới phương pháp, phong cách lãnh đạo khoa học, dân chủ; nêu cao tinh thần chủ động, sáng tạo, dám nghĩ, dám làm, dám chịu trách nhiệm, nói đi đôi với làm; đoàn kết, giữ vững nguyên tắc, kỷ luật, kỷ cương. Bám sát cơ sở, nắm chắc tình hình, kịp thời giải quyết những khó khăn, vướng mắc nảy sinh. Đại hội xác định 3 khâu đột phá là: Nâng cao chất lượng công tác QSQP địa phương, phát huy sức mạnh tổng hợp, huy động nguồn lực, xây dựng LLVT Quân khu cách mạng, chính quy, tinh nhuệ, hiện đại. Nâng cao chất lượng huấn luyện, xây dựng chính quy, quản lý kỷ luật, bảo đảm an toàn; phát huy giá trị văn hóa “Bộ đội Cụ Hồ” thời kỳ mới. Đẩy mạnh ứng dụng khoa học, công nghệ, đổi mới sáng tạo và chuyển đổi số trong LLVT Quân khu.
                                Đại hội biểu quyết
                                Phát biểu chỉ đạo Đại hội, Đại tướng Trịnh Văn Quyết, Bí thư Trung ương Đảng, Ủy viên Thường vụ Quân ủy Trung ương, Chủ nhiệm Tổng cục Chính trị QĐND Việt Nam ghi nhận, biểu dương những nỗ lực và kết quả đạt được của Đảng bộ Quân khu trong xây dựng Đảng bộ vững mạnh về chính trị, tư tưởng, đạo đức, tổ chức và cán bộ; giữ vững nguyên tắc tập trung dân chủ, tự phê bình và phê bình; phát huy vai trò tiên phong gương mẫu của cán bộ, đảng viên. Việc triển khai các khâu đột phá trong xây dựng chính quy, chấp hành pháp luật, kỷ luật có nhiều chuyển biến tích cực, góp phần nâng cao sức mạnh tổng hợp, khả năng sẵn sàng chiến đấu của LLVT Quân khu.
                                Trong bối cảnh tình hình thế giới, khu vực thời gian tới dự báo tiếp tục diễn biến phức tạp, đặt ra nhiều yêu cầu mới đối với nhiệm vụ bảo vệ Tổ quốc, Đại tướng Trịnh Văn Quyết yêu cầu Đảng bộ và LLVT Quân khu 7 tiếp tục phát huy kết quả đạt được, tập trung lãnh đạo, chỉ đạo thực hiện thắng lợi các mục tiêu, nhiệm vụ trong nhiệm kỳ 2025-2030. Trước hết, cần quán triệt sâu sắc đường lối, chủ trương của Đảng, các Nghị quyết, Chiến lược, Đề án về quân sự, quốc phòng, xây dựng Quân đội và bảo vệ Tổ quốc trong tình hình mới. Chủ động nắm chắc địa bàn, phối hợp chặt chẽ với các lực lượng xử lý hiệu quả các tình huống, không để bị động, bất ngờ.
                                Đồng chí Chủ nhiệm Tổng cục Chính trị QĐND Việt Nam nhấn mạnh, Quân khu 7 phải tiếp tục phát huy vai trò nòng cốt trong xây dựng nền quốc phòng toàn dân gắn với thế trận an ninh nhân dân; quan tâm xây dựng “thế trận lòng dân” vững chắc; thực hiện tốt công tác sắp xếp, kiện toàn tổ chức quân sự địa phương tinh, gọn, mạnh, phù hợp với yêu cầu thực tiễn. Đồng thời, chú trọng nâng cao chất lượng huấn luyện, diễn tập, xây dựng chính quy, rèn luyện kỷ luật, giữ vững hình ảnh Bộ đội Cụ Hồ thời kỳ mới; xây dựng LLVT Quân khu cách mạng, chính quy, tinh nhuệ, hiện đại. Tiếp tục củng cố Đảng bộ Quân khu thật sự trong sạch, vững mạnh tiêu biểu; nâng cao năng lực lãnh đạo, sức chiến đấu của cấp ủy, tổ chức đảng các cấp; giữ vững đoàn kết, phát huy dân chủ, kỷ luật, kỷ cương; chăm lo xây dựng đội ngũ cán bộ có bản lĩnh chính trị vững vàng, phẩm chất đạo đức tốt, năng lực tổ chức, chỉ huy đáp ứng yêu cầu, nhiệm vụ.
                                Trước khi Đại hội diễn ra, tại Đài tưởng niệm Chủ tịch Hồ Chí Minh trong khuôn viên Sở Chỉ huy Quân khu, đoàn đại biểu dự Đại hội do Thiếu tướng Trần Vinh Ngọc, Bí thư Đảng ủy, Chính ủy Quân khu; Thiếu tướng Lê Xuân Thế, Phó Bí thư Đảng ủy, Tư lệnh Quân khu làm trưởng đoàn thành kính dâng hương, dâng hoa, báo công với Chủ tịch Hồ Chí Minh và nguyện mãi mãi học tập, làm theo tư tưởng, đạo đức, phong cách cao đẹp của Người.
                                Đoàn đại biểu dự Đại hội thành kính dâng hương, dâng hoa, báo công với Chủ tịch Hồ Chí Minh Đại hội đại biểu Đảng bộ Quân khu 7 lần thứ XI, nhiệm kỳ 2025-2030 sẽ tiếp tục làm việc trong buổi chiều ngày 14 và ngày 15/8. Báo Quân khu 7 tiếp tục cập nhật.
                                Vũ Thị Duyên (st)
                            </a>
                        </div>

                        <div>
                            <a href="https://www.tqsqk7.edu.vn/dang-bo-quan-khu-7-chu-dong,-sang-tao,-tu-luc,-tu-cuong,-dot-pha-trien-khai-nhieu-chu-truong,-de-an,-mo-hinh-moi-cgak-p.html">
                                <b>xem chi tiết</b>
                            </a>
                        </div>
                    </div>

                </div>

                <div style="display:grid;grid-template-columns:133px auto;grid-gap:12px;margin-bottom:20px;position:relative">

                    <div style="position:absolute;top:0;bottom:0;left:0;width:10px;z-index:1;display:none" class="bg_red left_border">
                    </div>

                    <div style="width:133px;height:86px;overflow:hidden" class="bg_black img-hover-zoom">
                        <a href="https://www.tqsqk7.edu.vn/dai-hoi-dai-bieu-dang-bo-quan-khu-7-lan-thu-xi,-nhiem-ky-2025-2030-tien-hanh-phien-tru-bi-cgai-p.html">
                            <img src="https://www.tqsqk7.edu.vn/upload/thumb/16_638908662477393959___266.jpg" id="imgThumb" style="width:100%" class="border_black">
                        </a>
                    </div>

                    <div>
                        <div class="text_2_line" style="margin-bottom:7px">
                            <a href="https://www.tqsqk7.edu.vn/dai-hoi-dai-bieu-dang-bo-quan-khu-7-lan-thu-xi,-nhiem-ky-2025-2030-tien-hanh-phien-tru-bi-cgai-p.html" class="text_body" title="Đại hội đại biểu Đảng bộ Quân khu 7 lần thứ XI, nhiệm kỳ 2025-2030 tiến hành phiên trù bị">


                                <div style="display:flex;align-items:center">


                                    <div>
                                        <b>Đại hội đại biểu Đảng bộ Quân khu 7 lần thứ XI, nhiệm kỳ 2025-2030 tiến hành phiên trù bị</b>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="text_2_line" style="text-align:justify;margin-bottom:7px">
                            <a href="https://www.tqsqk7.edu.vn/dai-hoi-dai-bieu-dang-bo-quan-khu-7-lan-thu-xi,-nhiem-ky-2025-2030-tien-hanh-phien-tru-bi-cgai-p.html" class="text_body" title="Đại hội đại biểu Đảng bộ Quân khu 7 lần thứ XI, nhiệm kỳ 2025-2030 tiến hành phiên trù bị">
                                (QK7 Online) Chiều ngày 13/8, Đại hội đại biểu Đảng bộ Quân khu 7 lần thứ XI, nhiệm kỳ 2025-2030 tiến hành phiên trù bị. Thiếu tướng Ngô Quang Tuấn, Ủy viên chuyên trách Ủy ban Kiểm tra (UBKT) Quân ủy Trung ương dự, chỉ đạo phiên trù bị. Tham dự phiên trù bị có Thiếu tướng Trần Vinh Ngọc, Bí thư Đảng ủy, Chính ủy Quân khu; Thiếu tướng Lê Xuân Thế, Phó Bí thư Đảng ủy, Tư lệnh Quân khu; đại biểu lãnh đạo, chỉ huy các cơ quan chức năng của UBKT Quân ủy Trung ương; Cục Tổ chức, Tổng cục Chính trị; các đồng chí trong Ban Thường vụ Đảng ủy, thủ trưởng Bộ Tư lệnh Quân khu, các cơ quan Quân khu và 289 đại biểu ưu tú trong toàn Đảng bộ LLVT Quân khu về dự Đại hội.
                                Thiếu tướng Trần Vinh Ngọc, Bí thư Đảng ủy, Chính ủy Quân khu quán triệt mục đích, yêu cầu Đại hội
                                Quán triệt mục đích, yêu cầu Đại hội, Thiếu tướng Trần Vinh Ngọc, Bí thư Đảng ủy, Chính ủy Quân khu nhấn mạnh: Đại hội đại biểu Đảng bộ Quân khu lần thứ XI, nhiệm kỳ 2025 - 2030 là đợt sinh hoạt chính trị sâu rộng, có ý nghĩa hết sức quan trọng đối với sự phát triển, trưởng thành của Đảng bộ, LLVT Quân khu. Đại hội tập trung thực hiện 4 nội dung trọng tâm gồm: Đánh giá kết quả thực hiện Nghị quyết Đại hội Đảng bộ Quân khu nhiệm kỳ 2020-2025, xác định phương hướng, mục tiêu, nhiệm vụ và giải pháp lãnh đạo thực hiện nhiệm kỳ 2025-2030; thảo luận, đóng góp ý kiến vào dự thảo các văn kiện Đại hội XIV của Đảng và văn kiện Đại hội Đảng bộ Quân đội lần thứ XII; bầu Ban Chấp hành Đảng bộ Quân khu nhiệm kỳ 2025-2030 và đoàn đại biểu đi dự Đại hội đại biểu Đảng bộ Quân đội lần thứ XII.
                                Đoàn Chủ tịch điều hành Đại hội
                                Với vị trí, ý nghĩa quan trọng của Đại hội, Đồng chí Bí thư Đảng ủy, Chính ủy Quân khu yêu cầu các đại biểu về dự đại hội nêu cao tinh thần trách nhiệm, đoàn kết, tập trung trí tuệ, tích cực thảo luận, đóng góp nhiều ý kiến sâu sắc, có chất lượng vào các dự thảo văn kiện của Trung ương, Quân ủy Trung ương. Đặc biệt, thảo luận đánh giá đúng kết quả đạt được của Đảng bộ, LLVT Quân khu nhiệm kỳ 2020-2025; đồng thời, bám sát tình hình thực tiễn, đề xuất những chủ trương, giải pháp lãnh đạo hoàn thành thắng lợi nhiệm vụ quân sự, quốc phòng và xây dựng Đảng bộ Quân khu trong nhiệm kỳ tới.
                                Đại tá Phạm Anh Tuấn, UV BTVĐU, Chủ nhiệm Chính trị Quân khu phát biểu tại phiên trù bị
                                Phát huy dân chủ, lựa chọn các đồng chí tiêu biểu về phẩm chất, đạo đức, năng lực, có uy tín và khả năng quy tụ đoàn kết để bầu vào Ban Chấp hành Đảng bộ Quân khu khoá XI, nhiệm kỳ 2025-2030 và bầu các đại biểu đủ tiêu chuẩn, có khả năng đóng góp vào sự thành công của Đại hội đại biểu Đảng bộ Quân đội lần thứ XII.
                                Tại phiên trù bị, các đại biểu đã biểu quyết nhất trí về số lượng và nhân sự bầu Đoàn Chủ tịch gồm 5 đồng chí gồm: Thiếu tướng Trần Vinh Ngọc, Bí thư Đảng ủy, Chính ủy Quân khu; Thiếu tướng Lê Xuân Thế, Phó Bí thư Đảng ủy, Tư lệnh Quân khu; Đại tá Lê Xuân Bình, Ủy viên Ban Thường vụ Đảng ủy, Phó Tư lệnh, Tham mưu trưởng Quân khu; Thiếu tướng Trần Chí Tâm, Ủy viên Ban Thường vụ Đảng ủy, Phó Chính ủy Quân khu; Đại tá Phạm Anh Tuấn, Ủy viên Ban Thường vụ Đảng ủy, Chủ nhiệm Chính trị Quân khu.
                                Đại hội đã biểu quyết nhất trí về số lượng, nhân sự Đoàn Thư ký Đại hội gồm 2 đồng chí và bầu Ban Thẩm tra tư cách đại biểu gồm 5 đồng chí. Đại hội biểu quyết thông qua quy chế, chương trình làm việc của Đại hội; nghe Báo cáo tổng hợp ý kiến tham gia vào dự thảo các văn kiện Đại hội Đảng toàn quốc lần thứ XIV; nghe bản tóm tắt dự thảo Báo cáo chính trị của Quân ủy Trung ương tại Đại hội đại biểu Đảng bộ Quân đội lần thứ XII, đồng thời phổ biến, hướng dẫn nội dung, cách thức thảo luận để các ý kiến đóng góp tập trung, chất lượng, sát thực tiễn.
                                Đại hội biểu quyết
                                Đại hội đại biểu Đảng bộ Quân khu 7 lần thứ XI, nhiệm kỳ 2025-2030 tiếp tục diễn ra trong hai ngày 14 và 15/8/2025. Báo Quân khu sẽ cập nhật hoạt động của Đại hội.
                                Vũ Thị Duyên (st)
                            </a>
                        </div>

                        <div>
                            <a href="https://www.tqsqk7.edu.vn/dai-hoi-dai-bieu-dang-bo-quan-khu-7-lan-thu-xi,-nhiem-ky-2025-2030-tien-hanh-phien-tru-bi-cgai-p.html">
                                <b>xem chi tiết</b>
                            </a>
                        </div>
                    </div>

                </div>

                <div style="display:grid;grid-template-columns:133px auto;grid-gap:12px;margin-bottom:20px;position:relative">

                    <div style="position:absolute;top:0;bottom:0;left:0;width:10px;z-index:1;display:none" class="bg_red left_border">
                    </div>

                    <div style="width:133px;height:86px;overflow:hidden" class="bg_black img-hover-zoom">
                        <a href="https://www.tqsqk7.edu.vn/truong-quan-su-quan-khu-7-to-chuc-hoi-nghi-rut-kinh-nghiem-to-chuc-dai-hoi-dang-cac-cap-trong-dang-bo-nha-truong-nhiem-ky-2025-2030-cesi-p.html">
                            <img src="https://www.tqsqk7.edu.vn/upload/thumb/15_638902889150785871___266.jpg" id="imgThumb" style="width:100%" class="border_black">
                        </a>
                    </div>

                    <div>
                        <div class="text_2_line" style="margin-bottom:7px">
                            <a href="https://www.tqsqk7.edu.vn/truong-quan-su-quan-khu-7-to-chuc-hoi-nghi-rut-kinh-nghiem-to-chuc-dai-hoi-dang-cac-cap-trong-dang-bo-nha-truong-nhiem-ky-2025-2030-cesi-p.html" class="text_body" title="Trường Quân sự Quân khu 7 tổ chức Hội nghị rút kinh nghiệm tổ chức đại hội đảng các cấp trong Đảng bộ Nhà trường nhiệm kỳ 2025-2030">


                                <div style="display:flex;align-items:center">


                                    <div>
                                        <b>Trường Quân sự Quân khu 7 tổ chức Hội nghị rút kinh nghiệm tổ chức đại hội đảng các cấp trong Đảng bộ Nhà trường nhiệm kỳ 2025-2030</b>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="text_2_line" style="text-align:justify;margin-bottom:7px">
                            <a href="https://www.tqsqk7.edu.vn/truong-quan-su-quan-khu-7-to-chuc-hoi-nghi-rut-kinh-nghiem-to-chuc-dai-hoi-dang-cac-cap-trong-dang-bo-nha-truong-nhiem-ky-2025-2030-cesi-p.html" class="text_body" title="Trường Quân sự Quân khu 7 tổ chức Hội nghị rút kinh nghiệm tổ chức đại hội đảng các cấp trong Đảng bộ Nhà trường nhiệm kỳ 2025-2030">
                                Thực hiện Kế hoạch số 477/KH-ĐU ngày 26/7/2025 của Đảng uỷ Trường Quân sự Quân khu về tổ chức Hội nghị rút kinh nghiệm Đại hội đảng các cấp trong Đảng bộ Nhà trường và Đại hội Đảng bộ Nhà trường lần thứ XII, nhiệm kỳ 2025-2030. Ngày 08/8/2025, Thường vụ Đảng ủy Trường Quân sự Quân khu tổ chức Hội nghị rút kinh nghiệm tổ chức đại hội đảng các cấp trong Đảng bộ Nhà trường, nhằm đánh giá kết quả công tác chuẩn bị và tiến hành đại hội ở các cấp; rút kinh nghiệm vai trò, trách nhiệm của các lực lượng trong tổ chức và tham gia đại hội; đề xuất, kiến nghị biện pháp nâng cao chất lượng tổ chức đại hội các cấp trong Đảng bộ Nhà trường nhiệm kỳ tiếp theo.
                                Dự, chủ trì Hội nghị, Đại tá Bùi Đình Thành- Bí thư Đảng ủy, Chính ủy Nhà trường; tham dự có các đồng chí trong Ban Thường vụ, Đảng ủy Nhà trường; bí thư, phó bí thư cấp ủy các phòng, khoa, đơn vị; các đồng chí trong các tiểu ban, bộ phận bảo đảm, giúp việc đại hội; bí thư các chi bộ trực thuộc cơ sở, đại đội trưởng TTGDQP&amp;AN.
                                Đại tá Bùi Đình Thành, Bí thư Đảng uỷ, Chính uỷ Nhà trường chủ trì Hội nghị
                                Với tinh thần dân chủ, cởi mở, thẳng thắn, Hội nghị thống nhất cao với Báo cáo rút kinh nghiệm về tổ chức đại hội đảng các cấp trong Nhà trường, khẳng định vai trò lãnh đạo, chỉ đạo sâu sát chặt chẽ, toàn diện, hiệu quả của Đảng uỷ Nhà trường đối với công tác tổ chức Đại hội cấp uỷ các cấp trong Đảng bộ Nhà trường; Phòng Chính trị và các cơ quan, đơn vị đã tích cực, chủ động trong phối hợp, hướng dẫn tổ chức Đại hội đảng các cấp trong Đảng bộ Nhà trường nghiêm túc, đúng hướng dẫn của trên; vai trò, trách nhiệm của cấp ủy, bí thư, phó bí thư các cấp ủy, đội ngũ cán bộ, đảng viên trong thực hiện các nhiệm vụ, góp phần quan trọng để tổ chức thành công Đại hội cấp uỷ các cấp, Đại hội đại biểu Đảng bộ Nhà trường lần thứ XII, nhiệm kỳ 2025-2030.
                                Đại tá Nguyễn Tiến Sơn, UV BTV, Phó Chính uỷ Nhà trường phát biểu trong Hội nghị
                                Đại tá Nguyễn Đức Thịnh, UV BTV, Chủ nhiệm Chính trị phát biểu trong Hội nghị
                                Thượng tá Hoàng Văn Bảy, Đảng uỷ viên, Phó Chủ nhiệm UBKT Đảng uỷ Nhà trường phát biểu trong Hội nghị
                                Hội nghị cũng nghiêm túc kiểm điểm những tồn tại như: Công tác quán triệt, triển khai nhiệm vụ đại hội ở một số cấp ủy, chi bộ chưa sâu, báo cáo chính trị một số nội dung chưa sát với nhiệm vụ của cơ quan, đơn vị; thảo luận trong đại hội cấp cơ sở một vài cấp uỷ chất lượng ý kiến chưa cao, tính phản biện còn hạn chế.
                                Kết luận Hội nghị, đồng chí Bí thư Đảng uỷ Nhà trường biểu dương cấp ủy các phòng, khoa, đơn vị; các tiểu ban, bộ phận bảo đảm, giúp việc đại hội đã thể hiện tinh thần trách nhiệm cao, nỗ lực lớn góp phần quan trọng vào thành công của Đại hội. Những hạn chế khuyết điểm còn tồn tại trên, yêu cầu các cấp ủy nghiêm túc rút ra bài học kinh nghiệm làm cơ sở để chuẩn bị và tổ chức tốt đại hội cho nhiệm kỳ tới, tập trung một số nội dung chính:
                                Một là, chú trọng công tác tuyên truyền, giáo dục phát huy được vai trò, sức mạnh tổng hợp của các tổ chức, lực lượng trong tổ chức đại hội.
                                Hai là, bám sát sự chỉ đạo, hướng dẫn của trên chủ động lãnh đạo, chỉ đạo, triển khai, hướng dẫn tổ chức thực hiện sát tình hình thực tiễn.
                                Ba là, phát huy dân chủ, làm tốt công tác chuẩn bị nhân sự theo đúng quy chế, quy định, cán bộ được cơ cấu phải thực sự có phẩm chất, năng lực, tín nhiệm cao của tập thể.
                                Bốn là, công tác chuẩn bị văn kiện, ý kiến tham luận phải phát huy được trí tuệ tập thể, tính khoa học, tính đảng, thông qua ở các cấp chặt chẽ.
                                Năm là, làm tốt công tác phối hợp, hiệp đồng giữa các cơ quan, tiểu ban, bộ phận giúp việc đại hội, trong đó Phòng Chính trị làm trung tâm phối hợp, tham mưu, đề xuất, bảo đảm đại hội ở các cấp diễn ra đúng tiến độ, có chất lượng.
                                Sáu là, tăng cường kiểm tra, nắm tình hình cơ sở, định hướng, có biện pháp xử trí kịp thời những vấn đề nảy sinh bảo đảm thành công của đại hội.
                                Bảy là, phát huy vai trò, trách nhiệm của Ban Kiểm phiếu đại hội, nắm chắc nguyên tắc, tiến hành bầu cử đúng quy định, xử trí tốt các tình huống phát sinh.
                                Cấp uỷ, chỉ huy các phòng, khoa, đơn vị dự Hội nghị
                                Đồng chí Bí thư Đảng uỷ yêu cầu cấp uỷ, chỉ huy các cấp trong Đảng bộ tổ chức tuyên truyền, quán triệt sâu rộng đến toàn thể cán bộ, đảng viên quần chúng kết quả Đại hội; cụ thể Nghị quyết Đại hội cấp uỷ các cấp sát đặc điểm tình hình, nhiệm vụ của từng phòng, khoa, đơn vị. Phân công tổ chức thực hiện chặt chẽ; thường xuyên kiểm tra, đôn đốc trong quá trình thực hiện. Gắn kết quả thực hiện với đánh giá chất lượng hằng năm của cấp ủy, tổ chức đảng và của cán bộ, đảng viên, nhất là cán bộ chủ trì, bảo đảm hoàn thành tốt các chỉ tiêu nghị quyết đã xác định./.
                                Bá Tuấn- Minh Khoa/ Phòng Chính trị
                            </a>
                        </div>

                        <div>
                            <a href="https://www.tqsqk7.edu.vn/truong-quan-su-quan-khu-7-to-chuc-hoi-nghi-rut-kinh-nghiem-to-chuc-dai-hoi-dang-cac-cap-trong-dang-bo-nha-truong-nhiem-ky-2025-2030-cesi-p.html">
                                <b>xem chi tiết</b>
                            </a>
                        </div>
                    </div>

                </div>

                <div style="display:grid;grid-template-columns:133px auto;grid-gap:12px;margin-bottom:20px;position:relative">

                    <div style="position:absolute;top:0;bottom:0;left:0;width:10px;z-index:1;display:none" class="bg_red left_border">
                    </div>

                    <div style="width:133px;height:86px;overflow:hidden" class="bg_black img-hover-zoom">
                        <a href="https://www.tqsqk7.edu.vn/chuan-bi-toan-dien,-huong-toi-thanh-cong-dai-hoi-dang-bo-quan-khu-7-lan-thu-xi-cese-p.html">
                            <img src="https://www.tqsqk7.edu.vn/upload/thumb/16_638902401902698936___266.jpg" id="imgThumb" style="width:100%" class="border_black">
                        </a>
                    </div>

                    <div>
                        <div class="text_2_line" style="margin-bottom:7px">
                            <a href="https://www.tqsqk7.edu.vn/chuan-bi-toan-dien,-huong-toi-thanh-cong-dai-hoi-dang-bo-quan-khu-7-lan-thu-xi-cese-p.html" class="text_body" title="Chuẩn bị toàn diện, hướng tới thành công Đại hội đảng bộ Quân khu 7 lần thứ XI">


                                <div style="display:flex;align-items:center">


                                    <div>
                                        <b>Chuẩn bị toàn diện, hướng tới thành công Đại hội đảng bộ Quân khu 7 lần thứ XI</b>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="text_2_line" style="text-align:justify;margin-bottom:7px">
                            <a href="https://www.tqsqk7.edu.vn/chuan-bi-toan-dien,-huong-toi-thanh-cong-dai-hoi-dang-bo-quan-khu-7-lan-thu-xi-cese-p.html" class="text_body" title="Chuẩn bị toàn diện, hướng tới thành công Đại hội đảng bộ Quân khu 7 lần thứ XI">
                                Hướng tới Đại hội đại biểu Đảng bộ Quân khu 7 lần thứ XI, nhiệm kỳ 2025-2030, với tinh thần trách nhiệm chính trị cao nhất, ngày 7/8/2025, Ban Thường vụ Đảng ủy Quân khu 7 hội nghị họp, thẩm định, thông qua các văn kiện tham luận và một số nội dung quan trọng của Đại hội. Thiếu tướng Trần Vinh Ngọc, Bí thư Đảng ủy, Chính ủy Quân khu, chủ trì hội nghị. Dự hội nghị còn có các đồng chí trong Ban Thường vụ Đảng ủy Quân khu; thủ trưởng các cơ quan, đơn vị, nhà trường trong LLVT Quân khu.
                                Thiếu tướng Trần Vinh Ngọc, Bí thư Đảng ủy, Chính ủy Quân khu, chủ trì hội nghị
                                Trên tinh thần dân chủ, thẳng thắn và xây dựng, hội nghị đã lắng nghe trình bày và thảo luận sôi nổi, đóng góp trí tuệ sâu sắc vào các dự thảo văn kiện quan trọng, không chỉ của Đảng bộ Quân khu mà còn cho Đại hội đại biểu toàn quốc lần thứ XIV của Đảng và Đại hội đại biểu Đảng bộ Quân đội lần thứ XII. Các ý kiến tham luận đã tập trung phân tích, làm rõ và đề xuất điều chỉnh, bổ sung nhiều nội dung cốt lõi, mang tầm chiến lược. Trong đó, đặc biệt nhấn mạnh đến các định hướng phát triển đất nước nhanh, bền vững; mục tiêu, lộ trình xây dựng Quân đội nhân dân Việt Nam cách mạng, chính quy, tinh nhuệ, hiện đại; và các giải pháp nhằm giữ vững ổn định chính trị, trật tự an toàn xã hội, đồng thời tăng cường tiềm lực quốc phòng, an ninh trong bối cảnh đất nước hội nhập quốc tế ngày càng sâu rộng. Nhiều đại biểu đã đề xuất bổ sung những dẫn chứng thực tiễn sinh động, được đúc kết từ chính hoạt động xây dựng "thế trận lòng dân" và củng cố khu vực phòng thủ của Lực lượng vũ trang Quân khu, làm tăng thêm sức thuyết phục cho các văn kiện.
                                Đại tá Nguyễn Hải Nam, Sư đoàn trưởng Sư đoàn 5 trình bày nội dung tham luận
                                Bên cạnh đó, các cơ quan, đơn vị đã báo cáo chi tiết về tiến độ công tác chuẩn bị và kết quả luyện tập các nội dung của Đại hội. Các đại biểu đã cùng nhau thảo luận, chỉ rõ những điểm cần lưu ý nhằm bảo đảm mọi mặt công tác phục vụ Đại hội được tiến hành một cách khoa học, đồng bộ và hiệu quả nhất.
                                Phát biểu chỉ đạo kết luận phiên họp, Thiếu tướng Trần Vinh Ngọc, Bí thư Đảng ủy, Chính ủy Quân khu, đã quán triệt sâu sắc: Việc nghiên cứu, tham gia ý kiến vào dự thảo văn kiện của cấp trên và của Đảng bộ Quân khu là một nhiệm vụ chính trị trọng yếu, thể hiện rõ nét tinh thần trách nhiệm, trí tuệ và tâm huyết của toàn thể cán bộ, đảng viên Lực lượng vũ trang Quân khu đối với sự nghiệp xây dựng và bảo vệ Tổ quốc trong giai đoạn mới. Đồng chí Bí thư Đảng ủy yêu cầu các đơn vị, cá nhân được giao nhiệm vụ tiếp tục nghiên cứu, hoàn thiện các văn kiện tham luận trên cơ sở tiếp thu nghiêm túc và khoa học các ý kiến đóng góp, bảo đảm chất lượng tối ưu về cả nội dung, hình thức, thời lượng và ngôn ngữ thể hiện.
                                Các đại biểu dự Hội nghị
                                Về công tác chuẩn bị Đại hội, đồng chí Chính ủy Quân khu giao nhiệm vụ cho các Tiểu ban giúp việc phải bám sát hướng dẫn và chỉ đạo của cấp trên, khẩn trương rà soát, chỉnh sửa, hoàn thiện toàn bộ các mặt công tác, từ nội dung, chương trình đến công tác trang trí, khánh tiết; đồng thời đẩy mạnh hoạt động tuyên truyền sâu rộng trên các phương tiện thông tin đại chúng của Trung ương, trong và ngoài Quân đội, tạo không khí thi đua sôi nổi hướng về Đại hội./.
                                Vũ Thị Duyên
                            </a>
                        </div>

                        <div>
                            <a href="https://www.tqsqk7.edu.vn/chuan-bi-toan-dien,-huong-toi-thanh-cong-dai-hoi-dang-bo-quan-khu-7-lan-thu-xi-cese-p.html">
                                <b>xem chi tiết</b>
                            </a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>
@code {
    [Parameter] public string NewsPostId { get; set; }
}
