    <!--Phần hiển thị bên phải-->
<div id="right_main_column">
    <div id="schoolHistoryDiv" style="overflow: hidden; margin-bottom: 30px" class="poster-container">
        <a href="FirstNews">
            <img src="/images/upload/school_history.png" style="width: 100%" class="poster">
        </a>
    </div>

    <div style="">
        <div style="height:45px;width:100%;margin-bottom:20px;position:relative;
        background-image:url(/images/layout/section_title_bg.png);background-repeat: repeat-x;background-position: bottom center;background-size: auto 36px;">
            <div style="margin-left:5px;margin-right:5px;padding-left:20px;padding-right:20px;height:100%;display:inline-block;z-index:1000" class="bg_red">
                <div style="height:100%;display:flex;align-items:center">
                    <b class="text_yellow">XEM NHIỀU NHẤT</b>
                </div>
            </div>
        </div>


        <div style="display:grid;grid-template-columns:133px auto;grid-gap:12px;margin-bottom:20px;position:relative">

            <div style="position:absolute;top:0;bottom:0;left:0;width:10px;z-index:1;display:none" class="bg_red left_border">
            </div>

            <div style="width:133px;height:86px;overflow:hidden" class="bg_black img-hover-zoom">
                <img src="images/upload/thumb/11_638847492124333197___266.png" id="imgThumb" style="width:100%" class="border_black">
            </div>

            <div style="height:86px;overflow:hidden;text-align:justify" class="text_4_line">
                <a href="NewsPostDetail/1" class="text_body" title="NHỮNG KHOẢNH KHẮC TRẢI NGHIỆM ĐẸP NHẤT">


                    <div style="display:flex;align-items:center">


                        <div>
                            <b>NHỮNG KHOẢNH KHẮC TRẢI NGHIỆM ĐẸP NHẤT</b>
                        </div>

                    </div>
                </a>
            </div>
        </div>

        <div style="display:grid;grid-template-columns:133px auto;grid-gap:12px;margin-bottom:20px;position:relative">

            <div style="position:absolute;top:0;bottom:0;left:0;width:10px;z-index:1;display:none" class="bg_red left_border">
            </div>

            <div style="width:133px;height:86px;overflow:hidden" class="bg_black img-hover-zoom">
                <img src="/images/upload/thumb/11_638900717942634268___266.jpg" id="imgThumb" style="width:100%" class="border_black">
            </div>

            <div style="height:86px;overflow:hidden;text-align:justify" class="text_4_line">
                <a href="NewsPostDetail/1" class="text_body" title="&quot;TỰ HÀO VÀ XÚC ĐỘNG&quot; -  BUỔI CHÀO CỜ TRONG HỌC KỲ QUÂN SỰ">


                    <div style="display:flex;align-items:center">


                        <div>
                            <b>“TỰ HÀO VÀ XÚC ĐỘNG” - &nbsp;BUỔI CHÀO CỜ TRONG HỌC KỲ QUÂN SỰ</b>
                        </div>

                    </div>
                </a>
            </div>
        </div>

        <div style="display:grid;grid-template-columns:133px auto;grid-gap:12px;margin-bottom:20px;position:relative">

            <div style="position:absolute;top:0;bottom:0;left:0;width:10px;z-index:1;display:none" class="bg_red left_border">
            </div>

            <div style="width:133px;height:86px;overflow:hidden" class="bg_black img-hover-zoom">
                <img src="/images/upload/thumb/4_638830753482072456___266.jpg" id="imgThumb" style="width:100%" class="border_black">
            </div>

            <div style="height:86px;overflow:hidden;text-align:justify" class="text_4_line">
                <a href="NewsPostDetail/1" class="text_body" title="Trường Quân sự Quân khu 7 tự hào truyền thống đơn vị Anh hùng (12/12/1945 – 12/12/2025)">


                    <div style="display:flex;align-items:center">


                        <div>
                            <b>Trường Quân sự Quân khu 7 tự hào truyền thống đơn vị Anh hùng (12/12/1945 – 12/12/2025)</b>
                        </div>

                    </div>
                </a>
            </div>
        </div>

        <div style="display:grid;grid-template-columns:133px auto;grid-gap:12px;margin-bottom:20px;position:relative">

            <div style="position:absolute;top:0;bottom:0;left:0;width:10px;z-index:1;display:none" class="bg_red left_border">
            </div>

            <div style="width:133px;height:86px;overflow:hidden" class="bg_black img-hover-zoom">
                <img src="images/upload/thumb/11_638847487709983107___266.png" id="imgThumb" style="width:100%" class="border_black">
            </div>

            <div style="height:86px;overflow:hidden;text-align:justify" class="text_4_line">
                <a href="NewsPostDetail/1" class="text_body" title="KỶ NIỆM CỦA NGƯỜI &quot;LÍNH SINH VIÊN&quot;">


                    <div style="display:flex;align-items:center">


                        <div>
                            <b>KỶ NIỆM CỦA NGƯỜI “LÍNH SINH VIÊN”</b>
                        </div>

                    </div>
                </a>
            </div>
        </div>

        <div style="display:grid;grid-template-columns:133px auto;grid-gap:12px;margin-bottom:20px;position:relative">

            <div style="position:absolute;top:0;bottom:0;left:0;width:10px;z-index:1;display:none" class="bg_red left_border">
            </div>

            <div style="width:133px;height:86px;overflow:hidden" class="bg_black img-hover-zoom">
                <img src="/images/upload/thumb/11_638847484804717849___266.png" id="imgThumb" style="width:100%" class="border_black">
            </div>

            <div style="height:86px;overflow:hidden;text-align:justify" class="text_4_line">
                <a href="NewsPostDetail/1" class="text_body" title="KỲ QUÂN SỰ - DẤU MỐC TRƯỞNG THÀNH VÀ MẠNH MẼ">


                    <div style="display:flex;align-items:center">


                        <div>
                            <b>KỲ QUÂN SỰ - DẤU MỐC TRƯỞNG THÀNH VÀ MẠNH MẼ</b>
                        </div>

                    </div>
                </a>
            </div>
        </div>

    </div>


</div>