@inherits LayoutComponentBase
@implements IDisposable
@using BlazorBlogs.Data;
@using BlazorBlogs.Data.Models;
@inject IConfiguration _configuration
@inject IJSRuntime JSRuntime
@inject BlogsService _BlogsService
@inject GeneralSettingsService _GeneralSettingsService
@inject BlazorBlogsContext context
@inject DisqusState DisqusState
@inject InstallUpdateState _InstallUpdateState
@inject NavigationManager NavigationManager

<PageTitle>Blazor-Blogs</PageTitle>
<RadzenComponents @rendermode="InteractiveServer" />
<BlazoredToasts />
<div class="header-container" style="overflow-x:hidden">

    <div class="header-bg">
        <div id="mainHeaderBgDiv"></div>
    </div>
</div>
<div id="menuBgDiv" style="height: 52px;background-image:url('images/header/menu_bg.png');background-position:left bottom;">
    <div class="inner_body">
        <div id="mainMenuDiv" style="display:grid;grid-template-columns:52px auto auto auto auto auto auto auto auto ;grid-gap:0px;align-items:center;height:49px">
            <div class="top_menu_item top_menu_item_active" id="homeMenuDiv">
               
                <a href="/">
                    <img src="/images/header/home_icon.png">
                </a>
            </div>
            <div class="top_menu_item" id="1MenuOuterContainer" onmouseover="javascript:showMenu('1MenuContainer', '1MenuItemContainer');" onmouseout="javascript:hideMenu();">
                <div>
                    <a href="Introduce">
                        <div id="1MenuContainer" class="noClickCount text_menu">
                            GIỚI THIỆU<div id="downArrowDiv" class="down_arrow"></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="top_menu_item" id="2MenuOuterContainer" onmouseover="javascript:showMenu('2MenuContainer', '2MenuItemContainer');" onmouseout="javascript:hideMenu();">
                <div>
                    <a href="ListNews">
                        <div id="2MenuContainer" class="noClickCount text_menu">
                            TIN HOẠT ĐỘNG MÔI TRƯỜNG<div id="downArrowDiv" class="down_arrow"></div>
                        </div>
                    </a>
                </div>
            </div>



            <div class="top_menu_item" id="4MenuOuterContainer" onmouseover="javascript:showMenu('4MenuContainer', '4MenuItemContainer');" onmouseout="javascript:hideMenu();">
                <div>
                    <a href="Documents">
                        <div id="4MenuContainer" class="noClickCount text_menu">
                            VĂN BẢN<div id="downArrowDiv" class="down_arrow"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div style="text-align:center">
                <div style="display:inline-block;">
                    <a href="Login" class="text_menu">ĐĂNG NHẬP</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="width:100%">
    <div class="inner_body glow-effect" style="background-color:#f4f4f4;padding-top:7px;padding-bottom:7px;border-bottom:1px solid #a3c3b1">
        <div style="display:grid;grid-template-columns:auto 1fr auto;align-items:center">

            <style>

            </style>
            <div style="" id="topBreadCrumbs" class="text_body">
                <div style="display:inline-block"><a class="text_body" href="/" target="_self" title="Cổng TTĐT Ngành môi trường Phòng KHQSQK7">Bạn đang ở <b>Trang chủ</b></a></div>
            </div>

            <div>
            </div>

            <div style="position:relative" id="desktopSearchDiv">
                <input type="text" id="txtSearch1" style="width:300px;height:32px;padding-right:35px" maxlength="100" value="">

                <div style="position:absolute;right:0;top:0">
                    <input type="button" id="btnSearch1" class="button_search" onclick="doSearch(&#39;txtSearch1&#39;)">
                </div>
            </div>
        </div>

    </div>
</div>
<script>

    $(function () {

        $("#txtSearch1").keyup(function (event) {
            if (event.keyCode === 13) {
                doSearch('txtSearch1');
            }
        });

        $("#txtSearch2").keyup(function (event) {
            if (event.keyCode === 13) {
                doSearch('txtSearch2');
            }
        });

        var postGroupId = eval('-1');

        if (postGroupId > 0)
        {
            $('#-1MenuOuterContainer').addClass('top_menu_item_active');
        }
        else {
            $('#homeMenuDiv').addClass('top_menu_item_active');
        }
    });

    function showMobileMenu(event) {
        event.stopPropagation();

        $('#mobileMenuItemDiv').toggle();

        $('.header_submenu_panel').each(function (i, e) {
            if ($(e).attr('id') != 'mobileMenuItemDiv') {
                $(e).hide();
            }
        });

    }

    function doSearch(txtSearchId)
    {
        var keyword = $.trim($('#' + txtSearchId).val().replace(/(\.+|\(|\)|\/)/gi, '')).toLowerCase();

        if (keyword.length == 0) {
            alert('Xin nhập từ khóa để tìm kiếm');
            $('#' + txtSearchId).focus();
        }

        else if (keyword.length > 100) {
            alert('Từ cần tìm quá dài!');
            $('#' + txtSearchId).focus();
        }
        else {
            var urlText = '/';
            var url = urlText + urlEncode(keyword) + '-s.html';
            self.location.href = url;
        }
    }
</script>


<div class="inner_body glow-effect bg_white" style="padding-top:20px;padding-bottom:20px">
    <div class="main_2_columns_layout">
        <!--Phần hiển thị nội dung thay đổi-->
         @Body
        <LeftSidebar /> 
    </div>
</div>


<div id="footerDiv">


    <div style="width:100%;text-align:center;" class="footer_2_bg">
        <div id="footer2ContainerDiv" class="inner_body">
            <div style="display:grid;grid-template-columns: min-content auto;grid-gap:20px">
                <div>
                    <a href="/">
                        <img src="/images/footer/logo.png" id="imgLogoFooter">
                    </a>
                </div>

                <div style="padding-top:10px">
                    <div class="text_footer_large" style="display:inline-block;margin-bottom:15px">
                        NGÀNH MÔI TRƯỜNG PHÒNG KHQS QUÂN KHU 7
                    </div>

                    <div style="margin-bottom:10px;" class="text_white">
                        <b>Địa chỉ: Thành phồ Hồ Chí Minh</b>
                    </div>

                    <div style="margin-bottom:10px" class="text_white">
                        <b>Điện thoại: 069.000.000</b>
                    </div>

                    <div style="margin-bottom:0px" class="text_white">
                        <b>Email: <a href="mailto:mail@khqs.qk7.vn" class="text_white">mail@khqs.qk7.vn</a></b>
                    </div>
                </div>
            </div>

            <div id="footerOtherDiv">
                <div style="">
                </div>

                <div id="footerStatDiv">
                    <div style="display:grid;grid-template-columns:1fr auto;grid-gap:10px;align-items:center;margin-bottom:15px">
                        <div class="text_white text_16">
                            <b>ĐANG TRỰC TUYẾN:</b>
                        </div>

                        <div class="text_red text_16" style="font-weight:800">
                            <b>13</b>
                        </div>
                    </div>

                    <div style="display:grid;grid-template-columns:1fr auto;grid-gap:10px;align-items:center;margin-bottom:0px">
                        <div class="text_white text_16">
                            <b>LƯỢT TRUY CẬP:</b>
                        </div>

                        <div class="text_yellow text_16">
                            <b>1.447.624</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="width:100%" class="footer_3_bg">
        <div class="inner_body" style="display:grid;grid-template-columns:auto 1fr auto;grid-gap:10px;padding-top:10px;padding-bottom:10px">
            <div class="text_yellow" style="text-align:left">
                <b>© 2025 Bản quyền thuộc về Phòng KHQS Quân khu 7</b>
            </div>

            <div>
            </div>

            <div>
                <a href="" target="_blank" class="text_yellow">
                    <b>Viện CNNĐ</b>
                </a>
            </div>
        </div>
    </div>
</div>
@*
<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
*@

@code {
    // ********************************
    string CurrentVersion = "09.00.00";
    // ********************************

    GeneralSettings objGeneralSettings = new GeneralSettings();
    private ElementReference disqusBody;

    protected override async Task OnInitializedAsync()
    {
        // Check for Install/Upgrade
        // The Index.razor page will detect this and load the
        // Install/Upgrade Wizard
        try
        {
            if (!context.Database.CanConnect())
            {
                NavigationManager.NavigateTo("installwizard/INSTALL", true);
            }
        }
        catch
        {
            NavigationManager.NavigateTo("installwizard/INSTALL", true);
        }

        // Get database conection string
        string strDefaultConnection = _configuration["ConnectionStrings:DefaultConnection"];

        // The database connection may be good,
        // but the database tables are missing
        try
        {
            var DatabaseSetUp = await _BlogsService.IsDatabaseSetUpAsync(strDefaultConnection);
            if (!DatabaseSetUp)
            {
                NavigationManager.NavigateTo("installwizard/RUNSCRIPTS", true);
            }
        }
        catch
        {
            NavigationManager.NavigateTo("installwizard/RUNSCRIPTS", true);
        }

        // The database connection may be good,
        // but the Administrator account may not exist
        try
        {
            var AdminExists = await _BlogsService.AdminExistsAsync(strDefaultConnection);
            if (!AdminExists)
            {
                NavigationManager.NavigateTo("installwizard/CreateAdministrator", true);
            }
        }
        catch
        {
            NavigationManager.NavigateTo("installwizard/CreateAdministrator", true);
        }
    }

    protected override async Task
         OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadGeneralSettingsAsync();

            if (Convert.ToBoolean(objGeneralSettings.DisqusEnabled))
            {
                await DisqusInterop.CreateDisqus(
                    JSRuntime,
                    disqusBody,
                    @$"https://{objGeneralSettings.DisqusShortName.Trim()}.disqus.com/embed.js");

                // Subscribe to the StateChanged EventHandler
                DisqusState.StateChanged +=
                OnDisqusStateStateChanged;

                StateHasChanged();
            }
        }
    }

    protected async Task LoadGeneralSettingsAsync()
    {
        objGeneralSettings = await _GeneralSettingsService.GetGeneralSettingsAsync();

        if (ConvertToInteger(CurrentVersion) > ConvertToInteger(objGeneralSettings.VersionNumber))
        {
            NavigationManager.NavigateTo("installwizard/UPGRADE", true);
        }
    }

    #region private int ConvertToInteger(string strParamVersion)
    private int ConvertToInteger(string strParamVersion)
    {
        int intVersionNumber = 0;
        string strVersion = strParamVersion;

        // Split into parts seperated by periods
        char[] splitchar = { '.' };
        var strSegments = strVersion.Split(splitchar);

        // Process the segments
        int i = 0;
        List<int> colMultiplyers = new List<int> { 10000, 100, 1 };
        foreach (var strSegment in strSegments)
        {
            int intSegmentNumber = Convert.ToInt32(strSegment);
            intVersionNumber = intVersionNumber + (intSegmentNumber * colMultiplyers[i]);
            i++;
        }

        return intVersionNumber;
    }
    #endregion

    // This method is fired when the DisqusState object
    // invokes its StateHasChanged() method
    // This will cause this control to invoke its own
    // StateHasChanged() method refreshing the page
    // and displaying the updated counter value
    void OnDisqusStateStateChanged(
        object sender, EventArgs e) => StateHasChanged();

    void IDisposable.Dispose()
    {
        if (DisqusState != null)
        {
            // When this control is disposed of
            // unsubscribe from the StateChanged EventHandler
            DisqusState.StateChanged -=
            OnDisqusStateStateChanged;
        }
    }
}